[2013-08-07 02:15] ghost opened #1 "Include a license document"
A license document is missing from the repo that says that this library (and your code) is licensed under the 3-clause BSD license.

[2013-12-05 03:08] #1 closed, assigned to nobody

[2014-01-14 04:15] b1lly opened #5 "Does this only work with websockets?"
Hi, does this package only support web sockets? Or does it actually fall back to HTTP requests like Socket IO is supposed to?

[2014-05-11 00:10] FraBle opened #11 "Add support for rooms"
A small feature wish of mine: support rooms.
Further information: https://github.com/LearnBoost/socket.io/wiki/Rooms

[2014-05-26 08:12] ildus opened #13 "Long Polling"
Hi. First of all, thank you for working at this library. Do you have any plans about adding long polling support?

[2014-06-21 13:15] daviddawson opened #15 "Client doesn't work with Node.js socket.io server"
Using the socket.io client example, run against the node.js socket.io server example doesn't work. It appears as :

[code]

The server returns a 400 error with the response message 'transport:undefined'

The equivalent node.js client seems to connect to the socket.io url with an additional transport param set to 'polling', and then goes through a protocol upgrade to websockets.

Is a node server/

[2014-07-07 07:03] rmitchellnet opened #17 "Error on go get"
I'm new to the language so I apologize if I'm doing something wrong on my end, but I'm getting this error when running go get.

[code]

[2014-07-14 20:03] variadico opened #18 "String doesn't get interpreted as array on node"
Hello. Not sure if this is a problem on the node side or on the Go side. Basically, I'm trying to send an array to node.js like this.

[code]

Except on the node side, the message gets interpreted as `[object String]`. JavaScript socket.io clients create and send an array object with `socket.emit("test", myArray)` and node interprets that as `[object Array]`. Is there a flag or something I can set

[2014-07-14 20:13] #18 closed, assigned to nobody

[2014-07-16 15:25] #13 closed, assigned to nobody

[2014-07-23 14:19] #11 closed, assigned to nobody

[2014-07-23 14:20] #5 closed, assigned to nobody

[2014-07-27 09:08] #17 closed, assigned to nobody

[2014-07-30 00:45] jgoodall opened #20 "reference to socket outside of server"
Is it possible to get a reference to the server outside of the Server instance. Basically, I want to simply broadcast events from another go routine to all connected clients, and I havent come up with a good way to do it. Now I am keeping a map of ID and socketio.Socket, then on each new event, I do:

[code]

This doesnt seem like the right approach though, so wondering if there is a better patter

[2014-07-31 06:23] leighmcculloch opened #21 "Access-Control-Allow-Origin"
I'm attempting to use `go-socket.io` on a separate hostname to the main website which is not part of the Go application. How should I add custom headers (e.g. Access-Control-Allow-Origin) to the initial HTTP responses sent back from `go-socket.io`?

[2014-08-07 02:21] #21 closed, assigned to nobody

[2014-08-13 07:04] AntiPaste opened #23 "Websocket returns 400 Bad Request"
I'm looking into switching from Node.js to Golang.
However it seems websockets do not work properly with **go-socket.io** and instead return a 400 status code.
The same client-side code and browser work on a Node.js implementation.

Chrome returns this in the JavaScript console:
`WebSocket connection to 'ws://example.com:5000/socket.io/?EIO=2&transport=websocket' failed: Error during WebSocket han

[2014-08-13 15:10] hidu opened #24 "emit 二级map包含中文出错"
m:=make(map[string]interface{})
m["a"]="你好"
e:=so.Emit("cn1111",m)
//正常 e==nil

b:=make(map[string]string)
b["u-a"]="中文内容"    //换做英文正常
m["b-c"]=b
e=so.Emit("cn2222",m)
//异常 e==nil   会强制断开客户端 数据发送失败

[2014-08-14 08:03] #23 closed, assigned to nobody

[2014-08-14 10:57] imkira opened #25 "caller reflection bug"
There is a bug easily reproduced by doing a `socket.emit('eventname','arg1', ..., 'argn')` on the client and a matching `so.On('eventname', func(arg1 string, ... different argn)`
The server crashes if I pass more or even less arguments than the ones I specified server-side.

[2014-08-14 11:07] m19 opened #26 "How to receive JSON objects on the server?"
Like the title says. Currently the callback only accepts `string`. Is it possible to change this?

[2014-08-14 14:30] #26 closed, assigned to nobody

[2014-08-14 15:01] imkira opened #27 "utf-8 buggy in websocket transport?"
I am using the latest socket.io client and go-socket.io server.
I am emitting the event name and an argument from socket.io-client using:

[code]

If I specifiy "websocket" as the only transport in the client, apparently when you send messages in utf-8 the text gets garbled. If i specify "polling", all is well with the world.
From what I have checked from the go-socket.io's source code, the websoc

[2014-08-14 16:27] imkira opened #28 "connection stalled after emitting unregistered event"
Sorry for posting lots of issues in such a short time :(

Anyway, I have noticed that if I `s.emit('omg');` on client side and I have no `so.On("omg", func...{});` listener server-side, the next event emissions will never reach the server.

Apparently if the packet is ignored the io stream never gets read and it gets "lost" (blocked), with new emit's being ignored.

If I do (in handler.go):

[code

[2014-08-15 10:43] crossdot opened #29 "Server broadcast method"
Is there any way to emit some message from a server (not from a socket)?
I mean equivalent of node.js code
var io = require('socket.io')(80);
io.to('some room').emit('some event'):

[2014-08-17 09:45] hidu opened #30 "disconnection event has not emit"
use the demo file main.go
refresh the browser,the log is:

[code]

[2014-08-19 00:39] #20 closed, assigned to nobody

[2014-08-23 22:22] kellegous opened #31 "Example server crashes if a client leaves."
### To reproduce,

Run the example included in the source. `go run main.go`
Connect two clients to http://localhost:5000/
Close one of those clients.
Send a chat message from the remaining client.

There seems to be a lingering `conn` lying around from the connection that was closed, but the `transport` is now nil. Perhaps the connection is not properly unregistered.
### Console and Stack Traces:

[2014-08-25 15:27] ghost opened #32 "How does namespace work ?"
Hello,

Im trying to use namespace but it didn't work.
Here's the code I used :

client:

var socket = io('/chat');

server :

[code]

When I ran the program, it didn't show "on connection".
Why is it not working?

[2014-08-30 05:18] rytutis opened #33 "Setting response headers (Access-Control-Allow-Origin)"
Is there a way to set response headers for this lib? Can't seem to find anything.
I'd like to set 'Access-Control-Allow-Origin' value.

Thank you

[2014-09-03 04:01] Sean-Der opened #35 "Support for acknowledgment functions?"
Hi @googollee

It doesn't seem that go-socket.io supports acknowledgment functions, just by taking a quick look through the docs+code.

Do you think they are technically possible (did you attempt to implement them)? If so would you accept a PR against the 0.9 branch for them?

[2014-09-08 14:44] #35 closed, assigned to nobody

[2014-09-17 15:01] helinwang opened #37 "server crashes"
Hi,

I am using the simple use case: server emits something to client. And I get this crash:

[code]

client on mac, chrome
server on ubuntu x64 go v1.3

[2014-10-10 16:57] polds opened #39 "What exactly is `BroadcastTo` supposed to do?"
I think I may be misunderstanding, but it seems like `BroadcastTo()` should have the ability to target a very specific channel instead of a standard `Emit()` which seems to blast to all connected clients.

Take for example the following code, If I am incorrect in understanding the appropriate usage of `BroadcastTo` I would love some direction:

[code]

From my understanding we have a client with s

[2014-10-15 20:56] svanharmelen opened #40 "Using the client of the 0.9.x branch, I am disconnected after 15 seconds..."
Without any waring or info being logged... It runs just fine the first 15 seconds, but that the fun is over. Any pointers on where to look anything know about an issue like this?

[2014-10-15 23:52] jgoodall opened #41 "race condition"
If you build the example application with `-race`, and then run it, it reports a race condition:

[code]

[2014-10-16 02:51] #33 closed, assigned to nobody

[2014-10-27 12:55] Jark opened #43 "Adding multiple empty callbacks will only let the first one work one time"
For my use-case I'd like all communication to flow via socket.io, so I only have to implement authentication once, for this reason I have setup a number of GetData methods which returns the snapshot data needed.

What I'm seeing is that only the first emit with callback ever gets executed, subsequent calls will be ignored.

Can anyone tell me in what area I should start looking? I'm not that famil

[2014-10-31 02:50] h00kwurm opened #44 "0.9.x branch client single message sent received duplicate at Node.js 0.9.14 server"
When i'm using the go socket io client from the 0.9.x (branch/tag/whatever) against the node.js socket io v0.9.14 i'm receiving duplicate messages at the server side. Has anybody seen this or know what I'm doing wrong or whether there might be a bug along the way (socket->codec->websocketFrameWriter->hybi->socket) If it's relevant at all, I don't have the option to use socket io 1.+. so there's th

[2014-11-14 08:55] #43 closed, assigned to nobody

[2014-11-14 08:55] #41 closed, assigned to nobody

[2014-11-14 08:55] #39 closed, assigned to nobody

[2014-11-14 08:55] #37 closed, assigned to nobody

[2014-11-14 08:55] #32 closed, assigned to nobody

[2014-11-14 08:56] #31 closed, assigned to nobody

[2014-11-14 08:56] #30 closed, assigned to nobody

[2014-11-14 08:56] #29 closed, assigned to nobody

[2014-11-14 08:56] #28 closed, assigned to nobody

[2014-11-14 08:56] #27 closed, assigned to nobody

[2014-11-14 08:56] #25 closed, assigned to nobody

[2014-11-14 08:56] #24 closed, assigned to nobody

[2014-11-14 08:57] #15 closed, assigned to nobody

[2014-11-14 13:13] Jark opened #45 "when calling server side functions without specifying arguments, the client connection will break without errors"
Given this function on the go side of things:

[code]

and this function on the js side of things:

[code]

When I execute the emit for the first time, the message returns with a value of `undefined`.

Then when I execute the emit again nothing appears to work and the connection with the server seems to be in an invalid state.

If you need any more information please let me know.

[2014-11-21 19:40] mauvm opened #46 "CORS issue"
I came across the same issue as #33 .

I'm not sure if it is just the CORS headers. As mentioned in the Engine IO JS library:

    "Unlike the previous Socket.IO core, it always establishes a long-polling connection first, then tries to upgrade to better transports that are "tested" on the side."
The client polls before testing other connection methods. Which results in:

    XMLHttpRequest cannot

[2014-11-23 17:11] rytutis opened #47 "Crashing all the time on windows"
Hi,

I'm trying to use it on Windows with socket.io 1.2. Crashes within seconds and all the time.
Am I using wrong versions or something?

My Go side is example from the read.me and client side is from here: http://socket.io/get-started/chat/

panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x30 pc=0x565638]

goroutine 33 [running]:
runtime.

[2014-11-27 20:06] woodsaj opened #48 "Binary support"
The documentation indicates that go-socket.io has support for binary payloads, but for the life of me i can not get it to work.  I can successfully emit binary payloads but can not receive them.

I am testing this with the  socket.io server provided in the example dir.  I have simply added the following
[code]

Then updating the JS in index.html
[code]

From what i can see, parser.decodeBinary(),

[2014-12-05 14:28] nrandell opened #49 "Difference in broadcast and emit"
I've found a strange problem with a difference between emit and broadcast. My basic code was sending an array via emit on connection and to all connected clients periodically via broadcast. However I was finding that the client worked correctly on from the emit, but didn't work from the broadcast.

Debugging on the server I could see that the array was sent correctly from the emit, but was sent as

[2014-12-10 10:00] mountkin opened #51 "Panic when client side emits null data."
[code]
The server crashed at https://github.com/googollee/go-socket.io/blob/master/caller.go#L66 with "panic: reflect: call of reflect.Value.Elem on zero Value".
I think the validity of the reflect value ```v``` should be checked before calling ```v.Elem()```.

[2014-12-14 15:11] mjw56 opened #52 "Events emitted from server not heard by client"
Hi, first thank you for this project.

I am working on simple demo to stream some data to the client. I am running into an issue where I am not hearing events which are emitted from server on the client. Here is what my use case looks like:

Server:

[code]

Client:

[code]

I heard the initial "get-tweets-data" call from the client, but after that when I try to callback to the client from server

[2014-12-16 17:07] tejo opened #53 "Chat example"
The included chat example seems to be broken.  I can only see a bunch of:

2014/12/16 18:02:25 <nil>
2014/12/16 18:02:25 emit: <nil>
2014/12/16 18:02:25 on disconnect
2014/12/16 18:02:26 on connection

in the logs but nothing happens in the browser if I try to send a message.

Thanks.

[2014-12-18 08:36] pavelnikolov opened #54 "BufferSize question?"
Feel free to delete this question - it was a bug in my code...

[2014-12-19 16:31] #53 closed, assigned to nobody

[2014-12-29 00:34] iurisilvio opened #56 "How to count users in a room?"
Is it possible to count users in a room? The `socket.io` has `io.sockets.sockets.length`. I'm unable to access `namespace` in `go-socket.io`, because it is not exported.

http://stackoverflow.com/questions/9352549/getting-how-many-people-are-in-a-chat-room-in-socket-io

[2015-01-03 13:53] iurisilvio commented on #32
I was unable to use namespaces too. I'm using latest go-socket.io and go-engine.io. It never trigger the `connection` event.

[2015-01-06 08:48] fd opened #57 "Client API"
Currently there is only the Server API. Are there any plans to add a client as well?

[2015-01-07 14:42] acoyfellow commented on #46
+1 I can't seem to figure out how to set headers for socket.io connections

[2015-01-07 16:25] zhengying commented on #40
+1 Same problem! any update ??

[2015-01-07 16:54] #54 closed

[2015-01-07 19:56] acoyfellow commented on #57
You use the normal JS client side library from Socket.io

[2015-01-07 20:21] svanharmelen commented on #40
@zhengying, it's been a couple of months ago since I fixed this locally but just made a PR which would fix this (if I recall the issue correctly). So if you could test again with the code in PR #58 that would be great.

[2015-01-08 00:26] zhengying commented on #40
Thanks you!
But your code is too old. no session.go in latest version, the change is so big now,   I want a version keep update.  may be It's useful to someone else.

[2015-01-08 07:44] fd commented on #57
No, I meant a Go client.

[2015-01-08 09:53] svanharmelen commented on #40
Ah... Well my code isn't too old, but it's for the 0.9.x branch where this issue was opened for (see title of this issue) :wink:

So I think you reacted to a wrong issue then, if you are using the 1.x branch (master)...

[2015-01-11 13:51] zhengying commented on #40
Oh, sorry I used master branch,   My problem already find, it's cause by client js error,
Why don't you use the 1.x branch, It's seem more stable.

[2015-01-11 14:00] svanharmelen commented on #40
Well... I only used the client part as I was talking to an exiting backend which required the 0.9.x branch :smiley:

[2015-01-15 14:04] svanharmelen commented on #40
Fixed by PR #58

[2015-01-15 14:04] #40 closed

[2015-01-15 14:11] googollee commented on #57
Well, I want to write a client, but seems I don't have enough time to do it. :(

[2015-01-15 14:14] googollee commented on #52
As I merged the go-engine.io, please check this issue again. Thanks.

[2015-01-15 14:15] googollee commented on #51
Will you test again?

[2015-01-15 14:15] googollee commented on #49
Will you test again?

[2015-01-15 14:28] nrandell commented on #49
Ran a quick test, it looks ok.

Thanks for merging and also creating the project. Very useful!

Nick

[2015-01-15 16:48] jsgoecke commented on #47
This is not just on Windows, but also on Heroku or OSX. Where the NextWriter error keeps getting thrown. And it happens not every time, but quite frequently.

[2015-01-16 02:37] googollee commented on #47
Will you paste the code? Both server side and client. Thanks.

[2015-01-16 06:26] sanketsaurav opened #59 "Not able to make namespaces work"
I'm trying to create a namespace, but I'm not able to connect to the namespace from the client side.

Server:

[code]

Client:

[code]

Am I missing something?

[2015-01-16 15:39] jsgoecke commented on #47
This is the client code:

https://gist.github.com/harborhoffer/4bc93ca1d3850ab8d7ec

And the server code:

https://gist.github.com/jsgoecke/c7d5c3ccb54cf0b1c9cb

[2015-01-27 10:58] rubenv opened #64 "Scale up"
The Node.JS version of socket.io has a concept of a store, to keep track of connections: this allows it to work in a load-balanced setup.

More info here: https://github.com/Automattic/socket.io/wiki/Configuring-Socket.IO#server

Is something similar to this possible with the Go version?

[2015-01-27 11:02] rubenv commented on #64
File the issue too soon (and apparently in the wrong repository).

If I'm not mistaken, `serverSessions` in https://github.com/googollee/go-engine.io/blob/master/sessions.go takes care of this. This would be the equivalent of `MemoryStore`.

Would you be open to exposing this interface in the API so that we can plug different implementations (e.g. a Redis store)?

I'm happy to help with this, once

[2015-01-27 11:46] googollee commented on #64
How about a interface like `ServerSessions` or named as something else, and can be set out of library? If not set, it will act as current `serverSessions`?

[2015-01-27 12:08] rubenv commented on #64
Yes, exactly that, an interface with a couple of methods, which can be set but which falls back to the default in-memory `serverSessions`.

It would mean that there is no change required for current users, but makes it possible to scale out.

[2015-01-29 08:03] mountkin commented on #51
Thanks, @googollee
The problem is fixed.

[2015-01-29 08:03] #51 closed

[2015-01-30 11:45] ivkean opened #65 "Can not include js from localhost:5000"
Hello,
When i start server.go which included your code to start port 5000, console alert that serving port 5000.
Then I try to include socket.io.js file on client:
<script src="http://localhost:5000/socket.io.js"></script>
but console log in browser alert that 404 file not found.
Can you show me how to connect with server ?

[2015-02-01 04:32] googollee commented on #65
You can check the [example code](https://github.com/googollee/go-socket.io/tree/master/example) .

[2015-02-01 04:32] #65 closed

[2015-02-01 04:52] googollee commented on #64
Please check the latest code, I add support `SetSessionManager`. Could you check if it works?

[2015-02-01 10:27] rubenv commented on #64
Oh wow, thanks! I'll have a look at it, in a week or two. We're currently
in the process of launching a new product some time is a bit limited.

Will report back on our experiences once I get round to it.
On 1 Feb 2015 05:52, "Googol Lee" <notifications@github.com> wrote:

[2015-02-05 18:36] jwadsager opened #66 "HTTPS/WSS doesn't work"
I can't get HTTPS/WSS to work.

The javascript client in the Chromium says `net::ERR_INSECURE_RESPONSE`.

I Firefox I get:

`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://localhost/socket.io/?EIO=3&transport=polling&t=1423162018973-1. This can be fixed by moving the resource to the same domain or enabling CORS.`

My current code is:

[code]

[2015-02-06 01:21] #66 closed

[2015-02-06 07:23] Max-Liu commented on #46
you can overwrite ServeHTTP method with your custom struct.
[code]

[2015-02-07 02:09] Dal-Papa commented on #59
Hi Sanket,

Did you have any update on that ? I run into the same problem here.

Cheers.

[2015-02-08 10:32] rykov commented on #59
+1

[2015-02-09 03:18] rykov commented on #57
+1

[2015-02-09 15:50] bweston92 opened #67 "Breaks after unknown emit."
The moment I emit something that isn't caught by the `on` listeners. It no longer responds to any other emit.

If I use the example code and emit

[code]

Also I am unable to transfer JSON objects, this also breaks everything?

[2015-02-10 09:39] polomsky opened #68 "Not thread safe"
The code is vulnerable to race conditions. Try run with `go run -race`

One example for all:
broadcast type in adapter.go uses unsynchronized access to the map (Join, Leave, Send)

[2015-02-22 22:38] Netherdrake commented on #46
Max-Liu, is the customServer something like this?
[code]

[2015-02-22 23:20] Netherdrake commented on #46
@Max-Liu Yes it is, thanks. It works ;)

[2015-02-24 10:14] #46 closed

[2015-02-27 14:02] Incisive commented on #68
One way I got it working was to wrap a mutex around calls to BroadcastTo.  Another option would be to set up a buffered channel that a worker reads from and emits broadcasts from structs/data in the channel that way it doesn't block senders trying to send broadcasts.

[2015-03-05 02:28] abo commented on #57
+1

[2015-03-05 04:45] bigblind opened #69 "Is there a way to close a socket on the server side?"
If not, I'd really lick a Socket.Close() function. I'm implementing authentication for socket.io, and if the client doesn't send an auth event within a certain time, I'd like to close the connection.

[2015-03-06 21:07] jdeschenes commented on #67
To further elaborate. The server tries to ping the connection twice and typically after roughly 45 seconds it will close the connection and create a new one. I am still trying to understand what is happening behind the scene.

A quick fix that I have found worked for me in file handler.go:
[code]
I essentially close the connection and let the server create a new one. I find this is rather inelegan

[2015-03-07 01:32] BEZEI2K opened #70 "access origins issue"
I am having issue connecting a client from localhost:3000 -> localhost:5000

The two apps have to be separate. How do I set the access-control header in this lib.

[2015-03-12 11:38] navneetk commented on #70
I am also facing the same issue. How can I set Access-Control-Allow-Origin.

[2015-03-13 16:39] mceldeen opened #71 "panic: reflect: Call with too few input arguments"
With a socket.io server like this
[code]

And a javascript call like this
[code]

We get the following error
[code]

When we pass in a room name to the emit function, everything works properly. However, emitting without the room name causes the server to explode. It's fine for the server to disconnect or transmit an error. Crashing is a security risk and operations nightmare since anybody can brin

[2015-03-14 15:53] armhold opened #73 "thread-safe way for server to emit/broadcast?"
Is there a thread-safe way to call `socket.emit` and `server.BroadcastTo` via server-initiated events? My use case is that the server will participate in a Redis pubsub, and relay those events to/from the sockets. The events will arrive from Redis asynchronously, so it's unclear to me how to safely deliver them to the sockets.

The usual way of handling events in go-socket.io is via `server.On` an

[2015-03-17 19:08] AnatoliiPrylutskyi commented on #57
It will be great +1

[2015-03-18 07:34] navneetk commented on #59
I am also facing the same issue.
The socket.io client socket with a namespace does not get connected and has undefined socket.id property.
Whereas on the server side any message send from the default socket (without namespace) get echoed with namespace attached.

Frame sent => 42["message","hello"]
Frame received => 42/myspace,["message","hello"]

[2015-03-19 05:27] tommywu23 commented on #47
hi googollee,
I also encountered the same problem.
Well now there are solutions?

[2015-03-20 23:27] bigblind commented on #64
@rubenv How are you storing the session object? And how are you reconstructing it when retrieving it?

[2015-03-21 08:55] rubenv commented on #64
Right, forgot about this one.

I'm not sure you can. We had a good look at it, felt that this was going to be a ton of work and realised we didn't need all of this. In the end we opted not to use socket.io and build something simpler/more specialised: https://github.com/rubenv/broadcaster

As for session support here: the objects inside a session aren't really serialisable, so for now I don't thin

[2015-03-21 10:02] bigblind opened #74 "How to use the SetSessionManager for scaling?"
As far as I can see, there's no way to serialize connections, store them in a database, retrieve them and reconstruct them, so how would that be done? An example would be very useful.

[2015-03-21 10:04] bigblind commented on #64
Then I wonder what the docs mean when they say a session manager can help you load balance, I'd love to see an example.

[2015-03-21 16:58] googollee commented on #74
Could you describe more detail of this feature? How to serialize a connection? Does that mean restore the status from previous connection?

[2015-03-21 17:00] googollee commented on #73
No, you should sync the calls yourself.

[2015-03-21 17:01] googollee commented on #70
You can wrap the ServeHTTP to add custom http headers.

[2015-03-21 17:06] googollee commented on #69
Could you submit a pr?

[2015-03-21 17:07] googollee commented on #68
I will try to figure out how to do it right.

[2015-03-21 17:10] googollee commented on #67
Could you show the more detail code about this?

[2015-03-21 17:12] googollee commented on #64
No. I'm sure currently no feature like this. And I still wonder what's the code like about load balance.

[2015-03-21 17:13] googollee commented on #59
I will try to figure out this issue.

[2015-03-21 18:03] bigblind commented on #74
Yeah. So let's say you're running an app in an environment where you don't have access to sticky routing. This means that a request whose connection started on server A, can suddenly be routed to server B. So what I'd like to be able to do is store the socket's state, and retrieve it by id, so that it doesn't matter where requests are routed.

[2015-03-21 18:34] #73 closed

[2015-03-23 16:46] olibearo opened #75 "Looking for a go-socket.io-client implementation. Does this exist?"
Looking to create a socket connection to a separate socket.io server using go.

[2015-03-23 21:34] Netherdrake opened #76 "Why does this piece of code work?"
[code]

`_onError` is a helper method that `Emit`s errors to the web app.

Now, what boggles my mind is, why, when I send `bootstrap-start` and then `bootstrap-stop` right thereafter (lets say a second later), but whilst `_onError(so, startBoot(json))` takes 20 seconds to run, I will get the `logger.Info("bootstrap-stop")` to run exactly after `bootstrap-start` finishes, despite the fact that ther

[2015-03-27 05:12] BEZEI2K commented on #70
That worked thanks!

[2015-03-27 05:12] #70 closed

[2015-03-27 13:41] Nickstr commented on #59
Having the same issue here, any updates on this?

[2015-04-02 06:01] initrdmk commented on #76
Will ```runtime.GOMAXPROCS(n)``` affect this? It seems that the default cpu number is 1.

[2015-04-02 14:09] Netherdrake commented on #76
I'm running `runtime.GOMAXPROCS(2)`

[2015-04-16 11:44] mattmassicotte commented on #52
I know its been a while since this issue has been touched, but as of master on April 15th, 2015, I'm experiencing a similar issue. It appears that Emits that occur in the On("connection",..) function work, but all other emits return the "upgrading" error.

[2015-04-29 20:04] jdeschenes commented on #67
Hi, I have put in a pull request which solve the issue.

[2015-05-13 01:57] Simon-L opened #82 "Emit() fails silently with special characters (utf...)"
When sending special characters like the french alphabet accents (é, è, à), socket.Emit() fails silently:
This fails:

[code]

This works:

[code]

In both case `errSo` is `<nil>`.
I'm testing with a chrome browser using basic socket.io on the client side.

I've seen in another issue that utf characters are embedded in maps, should I do that ?

[2015-05-18 08:18] catric opened #83 "How to send a message to a specified client?"
I only found Broadcast functions, but I want to transfer the message from one client to another client, how to do this?  A simple example would be very appreciated, thank you!

my code as below

[code]

[2015-05-18 17:16] initrdmk commented on #83
I think you can save the `socketio.Socket` objects in `UserMap`, and trigger the `emit` function on the  specific `socketio.Socket` object.
[code]

[2015-05-29 17:59] fuel-shea commented on #74
+1

[2015-05-29 23:03] fuel-shea commented on #59
@navneetk my fix may not solve your problem. It seems unrelated to the code I changed. I'm only able to confirm that without my fix, clients can't connect fully and with it, they are connected.

[2015-06-03 15:38] #71 closed

[2015-06-03 15:38] #48 closed

[2015-06-13 04:36] linlexing commented on #82
+1

[2015-06-13 19:50] schmittjoh opened #88 "Crashes when no "disconnection" handler is registered"
If you do not register a handler with the "disconnection" event, there is runtime error:

[code]

A workaround is to register an empty handler:

[code]

[2015-06-21 21:10] collinglass commented on #59
Would really like to use this in production! Namespaces is a must. I made this little test app to compare node socket.io and go socket.io with namespaces. https://github.com/collinglass/socketio

[2015-07-07 21:08] alecthomas commented on #52
I'm having the same issue, though not reliably. Sometimes it errors with "upgrading", sometimes it doesn't.

[2015-07-11 13:36] #88 closed

[2015-07-15 20:29] zygi opened #90 "Socket authentication"
Is there currently a way to access the Socket and the initial *http.Request at the same time to authenticate the user and keep track of their socket?

[2015-07-18 02:29] googollee commented on #90
IMO, authentication should only relate to http.Request, because Request is only input in socket.io. You can authenticate with Request before passing it to ServeHTTP.

What's the detail makes you want to access Socket and Request at the same time?

[2015-07-18 02:44] zygi commented on #90
For example, I might want to add a Socket to a certain room only of the user is logged in to the website. I could do this by authenticating via socket messages, but it would be much easier if I could access the cookies of the initial http request, check the authentication status and then add a socket to the room.

Using js socket.io server I would do this with
[code]

[2015-07-18 04:04] woodsaj commented on #90
You can access the net/http Request object by using the sockets `Request()` method.

[code]

[2015-07-21 10:40] cinnabardk commented on #82
The same issue exists with the special characters, æ, ø, å, in the Danish alphabet..

[2015-07-21 13:34] syhlion commented on #52
I'm having the same issue +1

[2015-07-22 07:24] keshavdv commented on #47
+1 on OSX

[2015-07-24 19:07] alu0075 commented on #75
+1 , this is really useful

[2015-07-24 19:08] alu0075 commented on #57
+1

[2015-07-24 19:45] ghost opened #91 "how to get delivery after emit ?"
does go-socket.io has any emit delivery ?
i hear tcp has native delivery response

[2015-07-25 19:48] ajusa opened #92 "How do you send a message to all clients but the one that sent you data?"
Basically, I have a two player game that is updating the other with the current coords of each player. However, when I send the coords, and use socket.BroadcastTo, it sends it to the same player, and to the other player. How do I send data to everyone but the client who sent the data to me?

[2015-07-25 21:13] ajusa opened #93 "How to use Send?"
How do you use the BroadcastAdaptor's Send method? It seems to want a type of broadcast, instead of BroadcastAdaptor. Sorry if this is a stupid question, I am new to golang.

[2015-07-29 22:59] mceldeen commented on #56
What we did was make a custom implementation of `BroadcastAdaptor` that wraps/reimplements the default implementation.

Something like this...
[code]

Then you can set it on the server like this
[code]

[2015-08-04 08:59] bailongxian commented on #57
+1

[2015-08-04 09:32] rykov commented on #57
As a popular feature request, can we get a few more backers and get this done?

[![Bountysource](https://www.bountysource.com/badge/issue?issue_id=7524138)](https://www.bountysource.com/issues/7524138-client-api?utm_source=7524138&utm_medium=shield&utm_campaign=ISSUE_BADGE)

[2015-08-06 11:44] ascepanovic commented on #46
@Max-Liu Did u maybe managed to get socket.io to work with gin ?

[2015-08-10 16:09] johnwchadwick opened #95 "Crash occurs when too many arguments are passed."
Similar to #71 but the other way around. It occurs because the argument count check occurs too late and we index into `c.Args` up to the last index in `args`.

[2015-08-13 13:09] DisruptiveMind commented on #95
+1

[2015-08-13 13:14] DisruptiveMind commented on #92
@Ajusa are you using the actual socket or the server's BroadcastTo?

[2015-08-13 16:54] Ajusa commented on #92
I no longer know. I switched to gorilla websockets a while back. However, I
believe I was using BroadcastTo

On Thu, Aug 13, 2015, 9:14 AM Tyler Pham <notifications@github.com> wrote:

[2015-08-15 03:04] zhouhui8915 commented on #95
+1
直接上图：
![socket io](https://cloud.githubusercontent.com/assets/13176899/9287234/5087008e-433d-11e5-9b30-27dab0ce7808.png)

[2015-08-15 03:26] zhouhui8915 commented on #95
+1
![socket io](https://cloud.githubusercontent.com/assets/13176899/9287266/d096d64a-433e-11e5-9d50-58a41378bb11.png)

[2015-08-24 02:29] cention-adly commented on #69
Digging through the code one time to figure out a bug I discovered that if you `Emit()` a message called `disconnect` form the server then the Socket will be closed. The relevant code is here: https://github.com/googollee/go-socket.io/blob/9c83c02fa6172eaea8252b6428e3cef3576c9746/socket.go#L64.

I'm willing to pull out the API into its own `.Close()` func if nobody's volunteering.

[2015-08-24 14:53] #95 closed

[2015-08-26 03:26] zhouhui8915 opened #97 "Is there any socket.io client in golang"
i don't found any  socket.io client in golang,  Is there any socket.io client in golang?

[2015-08-27 01:24] skyhighwings opened #98 "`so.Emit()` will cause a panic if you attempt to send a golang struct with any field at any point down the recursive chain that has unexported fields"
I experienced this with `flixy` when I attempted to, in short form:

[code]

[2015-08-31 06:14] zhouhui8915 opened #99 "server使用3个goroutine下发消息的时候未加锁"
在我使用go-socket.io过程中发现一个不太容易发现的问题，在server下发消息以及心跳比较频繁的时候(100次每秒)的时候客户端会报错，下面这个是chrome报的错误：
socket.io.js:4520 WebSocket connection to 'ws://127.0.0.1:5000/socket.io/?EIO=2&transport=websocket&sid=S0VCsWZpjQyH2zkhEWOo' failed: One or more reserved bits are on: reserved1 = 0, reserved2 = 1, reserved3 = 1
socket.io.js:4520 WebSocket connection to 'ws://127.0.0.1:5000/socket.io/?EIO=2&transport=websocke

[2015-09-27 09:10] xtgxiso opened #102 "nodejs发送json串，不加引号服务端收不到内容"
服务器代码：
so.On("event", func(msg string) {
			log.Println("so event")
		})

客户端代码：
socket.emit('event', {aa: 'bb'}) ; 这样收不到
socket.emit('event', "{aa: 'bb'}") ; 这样才能收到

[2015-09-30 06:36] googollee commented on #102
You can't save a map into a string.

[2015-09-30 06:36] #102 closed

[2015-09-30 06:38] #99 closed

[2015-10-06 14:20] mob8607 opened #103 "event ack seems to interfere with new message"
Hi there,

we are having troubles with the websocket connection handling in go.

This is an excerpt of the TCP connection:

[code]

The second message leads to a socket.io disconnect, because of an invalid message format: 438nullne.update...

Normally the message should look like: ["szene.update", ...]

For us it looks like the ACK of a previously sent event is mixed up with a new event from the s

[2015-10-08 07:47] pgamaster opened #104 "Slow delivering"
Trying on a website with 1000 connections. But expecting very slow data delivery. On node.js working fine and very fast.

Using Access-Control-Allow-Origin because socket is on a subdomain.
Using Nginx in front.

Before that got error: http Too many open files. Tuned server for maximum opened files.

[2015-10-08 09:59] xtgxiso commented on #102
不知道能不能在go的socket.io库上做个处理呢？

[2015-10-10 01:35] googollee commented on #104
Try ulimit?

[2015-10-10 01:37] googollee commented on #102
You need to use map or struct to receive a JSON map.

[2015-10-14 12:42] pgamaster commented on #104
tried, still slow even on less connections

[2015-10-29 13:04] youbinliu opened #107 "Does go-socket.io support WSS?"
my website need support http and https, so ,is this support ws and wss?

[2015-11-12 11:42] meirwah commented on #107
any update on this? is socket.io supporting wss ?

[2015-11-17 20:25] osiloke commented on #97
https://github.com/oguzbilgic/socketio

[2015-11-21 20:51] bo0rsh201 opened #108 "http: response.WriteHeader on hijacked connection using websocket transport"
Hi! Thanks for a library.
I have faced a strange problem using it and cannot fix it by myself

Here is a simple reproduce case:

[code]

and in the browser I use something like

[code]

Then I see strange warnings in my applications's log:

[code]

Using gdb I have found that the problem is that we are still serving http on hijacked connection.

[code]

But I am not familiar with websockets and yo

[2015-11-26 15:42] eliezedeck commented on #108
+1, I'm getting this as well.

[2015-11-26 15:59] eliezedeck commented on #59
Is there any update on this? It's really not viable to build big applications with this library without namespace support.

[2015-11-27 04:11] sumory commented on #75
+1, this is really useful!
why remove the client implementation before "1.x" commit?

[2015-11-28 20:00] ewaters commented on #82
I was running into this issue with the packaged /example/asset/socket.io.js. I downloaded the latest version of socket.io (https://cdn.socket.io/socket.io-1.3.7.js) and that seemed to fix the problem.

[2015-11-29 17:37] Simon-L commented on #82
So the issue could have been on socket-io.js side?!
I stopped using go-socket.io in the meantime.

[2015-12-05 12:41] twboc opened #110 "Has anybody used this on production?"
I can see that this library has frequent commits but have anyone successfully used in in a production environment without any serous issues?

[2015-12-18 12:39] AnatolyRugalev commented on #110
Interested in this question too

[2015-12-18 15:55] polds commented on #110
We tried but found the library to be too immature. This was about 6 months ago so maybe there have been many improvements since then.

[2015-12-21 07:08] AnatolyRugalev commented on #110
@polds thank you. We are interested in multi server usage

[2015-12-23 15:23] natdm opened #111 "Emit not emitting to all clients?"
I'm using React/Redux on client side, let me know if you need elaboration.

The client code for receiving the emitted event is here:
https://github.com/natdm/go-react-socket_io/blob/master/client/src/app.jsx#L16-L20

The Go code for emitting the event upon connection and each "message" event is here:
https://github.com/natdm/go-react-socket_io/blob/master/server/app.go#L54-L62

The client emits a

[2015-12-24 15:56] natdm commented on #111
I changed the code to this:
http://pastebin.com/5AEBWLiZ

I'm joining each person to the same room (app), and then broadcasting to the room a 'log' emit, and the client is just supposed to log it - as a proof of concept.

Not working.

[2016-01-03 09:06] DisruptiveMind commented on #110
We are using this for PESA Live (available for Android and iOS). This helps us with our custom tailored Twitter Feeds to emit to all users listening in on the room.

[2016-01-03 09:10] DisruptiveMind commented on #91
From "delivery" do you mean that it has been delivered to all or some subscribers? If so, I don't think there is anything at the library's level to ACK the delivery. It just fans out all the messages. From what I see you will have to build this in yourself.

I'm interested in this as well...

[2016-01-03 09:15] DisruptiveMind commented on #104
@pgamaster just curious, what were system configurations? and how `slow` is `slow`?

[2016-01-04 16:53] YellowOrWhite commented on #110
I have found https://github.com/igm/sockjs-go/ to be more stable. But you need to write your own pub/sub and authentication library.

[2016-01-14 12:07] nkovacs opened #112 "socket.disconnect() on client causes double disconnect event on server"
client-side using socket.io-client@1.4.4:

[code]

go server:

[code]

reference nodejs server:

[code]

The go server prints:

[code]

The nodejs server prints:

[code]

[2016-01-14 12:16] nkovacs opened #113 "disconnect event is not received if listening on another event"
client-side using socket.io-client@1.4.4:

[code]

go server:

[code]

reference nodejs server:

[code]

The go server prints:

[code]

The nodejs server prints:

[code]

[2016-01-14 12:32] nkovacs commented on #113
If I add a string parameter to the event, it works:

[code]

It doesn't matter if the client sends a message or not.

[2016-01-14 13:24] nkovacs commented on #68
I fixed the race condition in broadcast (Join/Send/Leave), but I couldn't find any others running the example app.

[2016-01-14 13:28] nkovacs commented on #112
Looks like the problem is that the disconnect packet is received and processed, then when the loop ends [here](https://github.com/googollee/go-socket.io/blob/master/socket.go#L159), the defer function emits another disconnect packet event: https://github.com/googollee/go-socket.io/blob/master/socket.go#L111

The defer function shouldn't do this in case the loop function exited because to the disco

[2016-01-15 06:18] rewolfgz opened #115 "ios support?"
It seems ios not supported?
I tried ios sdk from http://socket.io/
Seems not working.

[2016-01-15 07:07] wubin1989 commented on #56
@mceldeen what is defaultAdaptor? How can I implement it?
Thank you

[2016-01-15 18:56] rewolfgz commented on #115
by by setting
[code]
on ios, it communicated with go-socket.io well.

[2016-01-15 18:56] #115 closed

[2016-01-25 09:09] GoodWong commented on #59
Hi Sanket,

Did you have any update on that ? I run into the same problem here.

Cheers.

[2016-02-01 19:18] buekera opened #116 "Can't receive any events/messages"
I am switching from node socket.io to go socket.io and want to use my "old" client code to connect to the go websocket server and send a message which then will be handled by the server. Here is my code:

` func main() {
    server, err := socketio.NewServer(nil)

[code]

} `

I need to set the access control headers in order to be able to connect to the server properly.

My JS:

`
socket.on('conn

[2016-02-13 03:55] greenenergy opened #117 "Please expose the Disconnect call"
There is no way right now for the server to actually disconnect. When a disconnection call is made from the client, the server doesn't actually close the socket. We need to be able to do this.

[2016-02-13 03:56] globexdesigns commented on #117
+1

[2016-02-19 15:42] S-anasol opened #118 "Request() element re-order"
Hello.

For some reasons so.Request() value changes after connection.
And then i lost session variables coz Request were changed and get new id as i see.

[code]

[code]

nginx used as proxy

[code]

And i get this

[http://dsro.ru/gyazo/images/89c7b75b50fd414a5991d47e6397.png](http://dsro.ru/gyazo/images/89c7b75b50fd414a5991d47e6397.png)

As you see frame length same, but one frame has different

[2016-02-19 22:47] nfirvine opened #119 "On(*, func) seems to indicate that you can have the socket passed as an arg, but this is not explained anywhere?"
https://github.com/googollee/go-socket.io/blob/b14926c0af346c1ec2ac75cfb74acad2e48b3a69/caller.go#L31-L34

makes it look like you could do something like:

[code]

But this is undocumented.

[2016-02-23 00:44] nfirvine commented on #97
For future reference, looks like @zhouhui8915 went ahead and wrote their own: https://github.com/zhouhui8915/go-socket.io-client

Am trying it out currently, won't vouch for it yet.

[2016-02-23 00:45] nfirvine commented on #75
https://github.com/zhouhui8915/go-socket.io-client

But won't vouch for its effectiveness

[2016-02-24 00:48] Syam opened #120 "Disconnect from server on UTF8 special characters"
Just launch the demo chat then try to send message with one of theses chars :

`é à ç ...`

Server print "on disconnection", this does not happen with nodejs demo chat server.

What's wrong ?

[2016-02-24 18:28] nfirvine commented on #67
Is this issue fixed then? If so, please close it.

[2016-02-24 18:33] nfirvine opened #121 "If you specify an On() handler with an empty signature, it can stall the server socket when called"
On the server:

[code]

If the client then emits "something", `so` will be in some bad state, no longer firing handlers, but not disconnecting either.

It's possible this is actually a bug in engine.io.

The fix is to do this:

[code]

and just ignore msg. Here's a few tests I did:
- `Emit("something")`: works
- `Emit("something", nil)`: works
- `Emit("something", nil, nil)`: causes disconnection

[2016-02-24 18:35] nfirvine commented on #121
The fix is to do this:
[code]
and just ignore msg. Here's a few tests I did:
* `Emit("something")`: works
* `Emit("something", nil)`: works
* `Emit("something", nil, nil)`: causes disconnection

[2016-02-24 18:36] nfirvine commented on #45
Probably not relevant to @Jark any more, but I encountered the same problem. I suspect handler funcs with no arguments are not handled properly.

See https://github.com/googollee/go-socket.io/issues/121

[2016-03-03 09:39] anonzi commented on #108
+1, I'm getting this as well.

[2016-03-20 03:01] maliang6111a opened #122 "No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'null' is therefore not allowed access"
How to solve？

[2016-03-20 08:07] hadv commented on #74
+1

How can we implement web socket server on multiple nodes like socket.io?
http://socket.io/docs/using-multiple-nodes/

[2016-03-29 08:45] hadv commented on #47
+1

I have also the problem when there're too many connections. Any idea to fix this? Thank you!

[code]

[2016-03-31 07:02] CyberLight opened #123 "acknowledgements for 1.x version of go-socket.io"
Hi all! I have a question about **acknowledgements** on event handler at the server side.
see documentation here:

I know what this feature implemented in **0.9.x** branch (https://github.com/googollee/go-socket.io/pull/36/files) ,
but can't find this functionality inside master code version **1.x**.

For example:
 at the client side:
[code]

at the server side:
[code]
**Did you plan realization o

[2016-04-02 02:24] nodecode commented on #117
+1

[2016-04-05 16:24] j955 commented on #117
+1 have any idea?

[2016-04-07 13:52] krzysztofantczak commented on #69
Unfortunately it seems, that on.disconnect is triggered twice when closing socket with emit:disconnect.

[2016-04-12 04:02] icebobofly commented on #122
type Server struct {
	socketio.Server
}

func NewServer(transportNames []string) (*Server, error) {
	ret, err := socketio.NewServer(transportNames)
	if err != nil {
		return nil, err
	}
	return &Server{*ret}, nil
}

func (s *Server) ServeHTTP(w http.ResponseWriter, r *http.Request) {
	//fmt.Println(r.Header)
	OriginList := r.Header["Origin"]
	Origin := "*"
	if len(OriginList) > 0 {
		Origin = Orig

[2016-04-13 22:31] jesusrmoreno commented on #122
Just cleaned up the code a bit
[code]

[2016-04-17 15:29] CyberLight commented on #123
I was created [pull request](https://github.com/googollee/go-socket.io/pull/124) with documentation about usage and realization **acknowledgements** in go-socket.io packet. Realization differ from official documentation. In official documentation **used callback** but in go-socket.io realization used **returning value** for including inside ack packet response

[2016-04-20 08:02] anumantharaja opened #125 "how to broadcast without room?"
How to broadcast a message to all clients without using rooms? Is this possible by using this library?
As the sample code i expecting in golang.. is this is possible by using googollee?

Ex.
// sending to all clients except sender
 socket.broadcast.emit('message', "this is a test");

[2016-04-20 23:40] kamronbatman commented on #97
@nfirvine How is it working?

[2016-04-21 00:42] nfirvine commented on #97
@kamronbatman I wouldn't describe it as production ready. For instance, I fixed a bunch of race conditions in it. So I'm concerned there's more danger lurking there. That said, besides those race conditions, I used it pretty heavily (5000 connections to a server), and it seemed to work.

[2016-04-21 05:33] CyberLight commented on #125
Hi @anumantharaja !
You can create your own custom BroadcastAdaptor which implements [interface BroadcastAdaptor](https://github.com/googollee/go-socket.io/blob/7000a8a5cd56ab1c3ead7cf33de3e9b2b1906af4/adapter.go
)
And inside method ```Send``` you can check for ```*``` (star symbol). if "star symbol" found then you can enumerate all rooms registered inside your custom BroadcastAdaptor for notifyin

[2016-04-26 09:50] j955 opened #126 "go-socket.io will update?"
I very much hope go-socket.io will be updated. The current function is still relatively small, but with a lot of go-socket.io performance has been better than the nodejs of socket.io

[2016-04-28 08:04] CyberLight commented on #126
My be! But @googollee seems to disappear somewhere and abandoned the project,
maybe I'm wrong :)
If it's true then perhaps we ourselves should implement new features in our github repos

[2016-04-28 10:13] valyala opened #127 "Add support for fasthttp"
It would be great if [fasthttp](https://github.com/valyala/fasthttp) support is added to `go-socket.io` additionally to [net/http](https://golang.org/pkg/net/http/). See how [this websocket library](https://github.com/leavengood/websocket) is implemented on top of `fasthttp` via [RequestCtx.Hijack](https://godoc.org/github.com/valyala/fasthttp#RequestCtx.Hijack).

[2016-05-10 09:46] CyberLight opened #128 "BUG: acknowledgement from client to server with type ACK not processed"
Problem in missed ```fallthrough``` between cases **_ACK** and **_BINARY_ACK**
In this situation any packet with type ACK sended from client to server doesn't processed

Fixed in #124

@googollee please merge my pull requests

Added new 2 tests for checking problem

[2016-05-10 16:26] CyberLight commented on #128
@googollee thank you! I am close this issue!

[2016-05-10 16:27] #128 closed

[2016-05-10 16:41] CyberLight commented on #123
I am close this issue because pull request merged by @googollee

[2016-05-10 16:41] #123 closed

[2016-05-10 17:19] CyberLight commented on #127
@valyala i think what it's not a good idea for supporting fasthttp because it's third party library and may be not supported by maintaners (by you for example). But net/http supported by golang team and it's can be modified for speed and perfomance.

This [Websocket library](https://github.com/leavengood/websocket) used in production?
Where is benchmarks, metrics of real usage?

[2016-05-10 17:28] CyberLight commented on #126
@j955 What features would you like to implement in **go-socket.io** ? :) May be i can help to implement this features :)

[2016-05-10 17:32] valyala commented on #127
I don't know. @leavengood , the author of the package, should know better.

[2016-05-10 18:06] leavengood commented on #127
My websocket library is just a fork of the [gorilla websocket library](https://github.com/gorilla/websocket), as clearly indicated in the README. I just added support for fasthttp, but the gorilla project did not want to add that for similar reasons as you, so I just decided to keep it in my own fork.

This was for a prototype work project which has currently been put on hold, which is why I have

[2016-05-10 18:11] leavengood commented on #127
For what it is worth, I just rebased and updated my fork against the original gorilla version.

[2016-05-11 01:24] googollee commented on #127
If fasthttp migrate into official library, I will glad to support it. Otherwise, I'm afraid that may add extra complex to the project.

[2016-05-11 05:13] betterjun commented on #117
+1

[2016-05-11 05:20] anonzi commented on #117
+1

[2016-05-18 20:32] graarh commented on #97
https://github.com/graarh/golang-socketio, my library with client

[2016-05-20 11:08] md2k commented on #97
@graarh , unable to locate 'funstream/libs/socket.io/transport', your example require it.

[2016-05-20 11:32] graarh commented on #97
Thank you! I fixed import paths.

[2016-05-20 11:53] md2k commented on #97
@graarh  welcome, i created a issue in your repository, check it when you have time.

[2016-06-02 21:15] m4ng0squ4sh commented on #110
Try https://github.com/desertbit/glue. Using it in production since almost one year now.

[2016-06-05 11:23] j955 commented on #126
thx ~ I found some bug
1. I'm try  IE browsers  (eg. IE8 ,  IE9)  input  Chinese characters , IE browsers is not work.
may be IE8, IE9 cat not use websocket protocol?
2. Multiple protocol connect  go server (eg. polling, websocket), connect over ten thousand people
send the message will be a big delay, about 10-30 second, but only use websocket protocol connect
fifty thousand use 1second.

so I ho

[2016-06-09 09:59] navneetk opened #130 "Parser does not work with Batches of messages on a Packet"
The Socket.IO client can send in batches: encode or decode multiple messages as one packet.
When there is more than a message and the response for the earlier message not returned.

When the transport is still polling sending multiple messages on a single packet causes error in parser, which in-turn causes the socket loop to exit and client disconnect.

Sample XHR request payload with data omitted

[2016-06-10 09:17] soniabhishek opened #131 "Acknowledgement from client is not working"
1. This is my server side implementation of websocket which is working fine but i am not receiving any acknowledgement
2. client is perfectly receiving the emitted data but server is not able to acknowledge

[code]

my client side code in java script is

[code]

[2016-06-10 11:45] #130 closed

[2016-06-10 11:46] navneetk commented on #130
The underlying cause was unicode issue.

[2016-06-10 13:09] pavelnikolov commented on #97
@graarh I was just about to write my own and found that you've already implemented it! Thank you!

[2016-06-15 19:37] Xeoncross opened #132 "Send message to single socket.Id()?"
On the server, I have the `socket.Id()` as a string from a client. I want to forward this message to that given `socket` connection. How can I do this? I from the global server instance I only see [BroadcastTo()](https://github.com/googollee/go-socket.io/blob/master/server.go#L91).

In socket.io for node.js I could lookup the socket like so:

[code]

[2016-06-15 19:40] Xeoncross commented on #132
Thinking about it some more, the javascript version has all clients auto-join a room matching their `session.Id()`. I couldn't find anything about this library doing the same so perhaps I just need to add an `so.Join(so.Id())`.

[2016-06-17 18:13] jredville opened #133 "Please tag and version this project"
Tags and versions aid in packaging for things like .deb files, and for anyone wanting to use Glide and other version based package managers to version their dependencies. It would also help ensure that if you make a breaking change, we don't pull it down until we are ready.

[2016-06-26 20:21] moul commented on #52
Same problem here 👍

[2016-06-27 02:41] zs1379 opened #134 "pingLoop reclose channel panic"
panic: close of closed channel

goroutine 575796 [running]:
panic(0x7f59a0, 0xc8b1edc710)
    /usr/local/go/src/runtime/panic.go:464 +0x3e6
github.com/googollee/go-engine%2eio.(_serverConn).OnClose(0xc8d31ca9c0, 0x7f780ff80178, 0xc8d36f3c40)
    /data/html/live_im_system/src/github.com/googollee/go-engine.io/server_conn.go:257 +0x1a2
github.com/googollee/go-engine.io/polling.(_Polling).Close(0xc8d

[2016-06-28 09:55] yzx226 commented on #97
nsq is what you want.
https://github.com/nsqio/nsq

[2016-06-28 12:06] pavelnikolov commented on #97
@yzx226 if serves a completely different purpose. And even if he needed a queue or a pub/sub lib probably http://nats.io/ is a better option.

[2016-07-03 23:04] icha024 commented on #122
Thanks all for this!

Would be awesome if we could build this into the library as an option.

[2016-07-08 09:58] Maguirun commented on #108
+1, I'm getting this as well.

[2016-07-11 11:54] danielfbm commented on #126
@j955 I think your are not really understanding what each part does. Browser implementation has to do with the socket.io JavaScript library and should be reported there.
For the second big, this could be a implementation issue or a infrastructure problem. Try to implement the same thing in Node.JS and let us know how it works.

My guess is that you are reaching the limit of your hardward and shoul

[2016-07-11 11:57] danielfbm commented on #126
@CyberLight regarding the update, I think that just implement all features like Node.js should suffice. As I can see in other issues there seems to be some features lacking or unexpected behavior

[2016-07-13 13:40] googollee commented on #126
@j955

I think you are better to check js client. Browser's feature is beyond server capable. But polling model should work.

Could you minimum business logic and benchmark it? It's hard to say with little information.

[2016-07-14 00:25] holygeek commented on #126
I had similar problem - unicode don't play well on on websocket for those browsers. I worked around it by manually encoding (base64) all the payload, so I send only strings instead of javascript objects.

[2016-07-14 10:03] CyberLight commented on #126
@holygeek interesting :) Can you give me an example of your data, I can test on IE using current version of go-socket.io?

[2016-07-14 14:19] holygeek commented on #126
@CyberLight for my case I used the unicode sample text from this page (it contains Swedish unicode letters): http://sv.lipsum.com/

[2016-07-14 22:22] ammario commented on #134
Same problem

[2016-07-14 22:23] Jumla commented on #134
+1

[2016-07-15 00:30] fuel-shea commented on #133
Would it make sense to tie the versioning to the Javascript implementation? (Currently v1.4.5)

[2016-07-15 01:01] jredville commented on #133
I think that would make total sense

On Thu, Jul 14, 2016 at 8:30 PM -0400, "Shea Clare" <notifications@github.com> wrote:

Would it make sense to tie the versioning to the Javascript implementation? (Currently v1.4.5)

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-24 09:21] i5ting opened #136 "is any benchmark?"

[2016-07-25 09:35] aiden0z opened #137 "Wrong parameter name for `Server. BroadcastTo`"
Looks that there is a wrong parameter name for `Server.BroadcastTo` function.

The code

[code]

acctually will call

[code]

So I think the

`func (s *Server) BroadcastTo(room, message string, args ...interface{})`

should be

`func (s *Server) BroadcastTo(room, event string, args ...interface{})`

[2016-07-26 20:51] douglasmakey opened #138 "Namespace isn't working"
My namespace isn't working with this code, someone knows why?

[code]

[code]

OUTPUT:

[2016-08-07 14:24] alexkarpovich commented on #138
+1

[2016-08-13 09:34] mrkt opened #140 "HTTP request cross domain，No set function on Response Origin"
HTTP request cross domain，No set function on Response Origin

[2016-08-14 08:13] kagtaviy commented on #138
+1

[2016-08-18 04:10] garnetttt opened #141 "broadcast BroadcastAdaptor can be deleted in struct Server in server.go"

[2016-08-21 07:49] 0xCMP opened #142 "Need specific tags for 0.9.x branch"
Tag on 0.9.x branch prevent making easy pushes to 0.9.x branch because git can't tell if I'm trying to update/checkout/push the tag ref or the branch ref.

[2016-08-26 10:12] tatsujin1 commented on #120
This seems to work fine now?

[2016-08-30 03:24] bughou commented on #138
+1

[2016-08-30 08:53] AhmedX6 opened #143 "XHR poll error : Connection Refused"
Hello,

I have a local server in Golang which implements socket :

[code]

I have an android app which uses 'io.socket:socket.io-client:0.7.0'

[code]

It makes me an xhr poll error : java.net.ConnectException: failed to connect to /192.168.0.50 (port 5000) after 10000ms: isConnected failed: ECONNREFUSED (Connection refused)

Can you tell me why ? Maybe the two library are not compatible ??... I h

[2016-08-30 16:07] kagtaviy opened #144 "How use room's in go-socket.io?"
Hi, i don't understand how i can use room's in socket.io?

[2016-09-06 06:20] elvizlai commented on #108
+1 have the same issue.

[2016-09-06 09:35] zanjs commented on #122
[code]

How to solve

[2016-09-06 10:16] aiden0z opened #145 "Memory leak prolem"
We have a service based on go-socket.io and have a memory leak problem. We found the memory usage is always increase, the idle heap is not return back to the OS. The heap pprof show that the runtime.goexit took much memory,  seems  that the memory not release after the goroutine exit.

- heap in-use callgraph

https://lh3.googleusercontent.com/-mOinFHs1gmM/V854u84GSMI/AAAAAAAAAFI/Dz7zJN6hobsrhRDBT

[2016-09-06 13:58] googollee commented on #145
Thanks. I saw the topic and try to find out now.

[2016-09-07 10:26] aiden0z commented on #145
@googollee  thanks so much. Is any update?

[2016-09-09 21:53] im-kulikov commented on #126
@CyberLight how about middleware? I can't find how to implement like this (nodejs example) - http://socket.io/docs/migrating-from-0-9/

or mb some like this - https://www.npmjs.com/package/socket.io-events

[2016-09-11 15:28] guidiego commented on #144
@kagtaviy A room is a kind of "flag" into a `socket connection` you can gave N rooms for a socket connection use `so.Join("nameOfRoom")`. After do that yo ucan use `BroadcastTo` to `Emit` an event for every people that have this Room registered in you Socket Connection :D

[2016-09-11 16:03] googollee commented on #145
@aiden0z

I'm busy on rewrite engine.io now. Could you help to review the new code at https://github.com/googollee/go-engine.io/tree/1.4? It's focus on memory usage and speed.

1.4 branch is under developing and not finish yet. The demo/server.go can run but may have some issue if reading/writing message while upgrading.

Thank you.

[2016-09-13 09:28] aiden0z commented on #145
@googollee  I finally fixed the memory leak problem. It is not bug of go-socket.io.

I use the https://github.com/auth0/go-jwt-middleware to auth with JWT. I also open the KeepContext of gorilla mux router to true for that can get the jwt token of  request from the goriila context. When I get the jwt token, will clear the request context (via context.Clear(r))  immediately. So far, all is work cor

[2016-09-13 10:03] #145 closed

[2016-09-13 15:50] vinnitu opened #147 "0.9.x repeated "connected" event"
have such server code

[code]

output is

[code]

after run such client code

[code]

with such output

[code]

As we can see we have _two_ connected events, why? What is wrong?

Thx

[2016-09-19 09:31] arden opened #149 "support cluster?"
can support cluster?

[2016-09-22 22:48] Kay-Zee commented on #117
From the looks of it, this is possible by [emitting a disconnect event](https://github.com/googollee/go-socket.io/blob/master/socket.go#L66) from the server on the socket you want to disconnect from. That is at least how I've been handling it, and seems to be working for my use-case.

[2016-09-26 06:56] im-kulikov commented on #149
+1

[2016-09-27 16:13] qrpike commented on #149
+1

[2016-09-30 16:44] MarekBielecki commented on #52
+1

[2016-10-01 01:07] geoffatcircle commented on #138
+10

[2016-10-02 02:18] hepking opened #151 "can't go get the pkg"

[2016-10-02 02:21] #151 closed

[2016-10-04 04:43] party79 opened #152 "Deadlock happening in *broadcast"
I have successfully managed to get it to deadlock where I have a page that is connected on a mac using safari and I send the mac to sleep, causing (_broadcast).Send to lock up in io wait and then opening another page on another system which runs (_broadcast).Join and it deadlocks the whole process

I don't know if it is the mac+safari+sleep that is causing the io wait, but Send locking up in io wa

[2016-10-04 05:04] party79 commented on #152
Send in IO wait
[code]

Join in semacquire
[code]

[2016-10-05 02:49] party79 commented on #152
you should maybe use ```github.com/gorilla/websocket.(*Conn).SetWriteDeadline``` and the writes would time out (probably a go-engine.io thing)
also maybe not have ```github.com/googollee/go-socket%2eio.(*broadcast).Send``` wait for ```github.com/googollee/go-socket%2eio.(*socketHandler).Emit```, maybe fire it in it's own goroutine

[2016-10-05 05:56] party79 commented on #152
Added pull requests re this, take or leave and do your own thing

[2016-10-05 05:59] googollee commented on #152
I have done it in go-engine.io branch v1.4. You can check the code.

Since v1.4 break the compatible, I'm working on new version of go-socket.io now which use v1.4 as transport layer. Please wait it finish.

[2016-10-05 06:22] googollee commented on #149
Yes. I'm doing new version of go-socket.io which will support cluster with a Room interface which you can custom for cluster usage. I will add details some days later.

Will you describe your target usage of cluster? I want to make sure it's OK for product environment.

[2016-10-05 06:23] party79 commented on #152
I can wait, my program crashes on the deadlock and restarts, so it is only a minor inconvenience.

[2016-10-05 07:10] hadv commented on #149
It seems similar to socket.io-redis

https://github.com/socketio/socket.io-redis

[2016-10-17 14:50] bkubiak commented on #112
Hello @googollee, could you merge that fix into this repo? The bug is clear and well explained by @nkovacs.

[2016-10-24 08:15] netzadel commented on #140
Hey!

You need to implement your own custom server to set the origin header like:

type customServer struct {
	Server *socketio.Server
}

func (s *customServer) ServeHTTP(w http.ResponseWriter, r *http.Request) {
	w.Header().Set("Access-Control-Allow-Credentials", "true")
	origin := r.Header.Get("Origin")
	w.Header().Set("Access-Control-Allow-Origin", origin)
	s.Server.ServeHTTP(w, r)
}

        s

[2016-10-26 18:56] DaBlitzStein opened #155 "This project is dead?"
No updates since august with 56 issues.

[2016-10-26 20:04] googollee commented on #155
No. I'm working on new version. You can check go-engine.io branch 1.4 to review it.

[2016-10-26 20:04] #155 closed

[2016-11-07 22:02] gamest1 opened #156 "Connect two servers."
Is it possible to connect two backends using this library or must the client connect to the GoLang server from a Javascript environment?

[2016-11-07 22:48] gamest1 commented on #156
It seems someone created a client version:
github.com/zhouhui8915/go-socket.io-client
Is this an official effort?

[2016-11-08 10:33] googollee commented on #156
Yes. I plan to release a client with new version of go-socket.io. Working on it now.

[2016-11-14 13:12] EsSpricht commented on #140
I have an example how to configure origin headers: https://github.com/EsSpricht/GolangBoilerplate/blob/master/googollee's%20socket.io/server.go

cheers

[2016-11-14 13:13] EsSpricht commented on #122
This is an example with a custom server struct:
https://github.com/EsSpricht/GolangBoilerplate/blob/master/googollee's%20socket.io/server.go

cheers

[2016-11-15 02:06] tastywheat opened #157 "Why does connection event fire twice?"
When a client connects, the `connection` event is firing twice. Is this expected?

[code]

[2016-11-15 13:07] dpastoor commented on #46
for anyone that stumbles on this issue again and is stuck, here is the code I was able to use

[code]

[2016-11-15 13:57] dpastoor commented on #122
I also solved this with

[code]

[2016-11-18 05:43] elvizlai commented on #156
@googollee  Thanks for great job. Is there any schedule or roadmap?

[2016-11-18 09:32] googollee commented on #156
I have done the go-engine.io and parser of go-socket.io. I'm working on dispatcher. Hope whole go-socket.io can finished this year.

go-engine.io already have the client part. So I think it's easy to do go-socket.io client based on it.

[2016-11-19 19:00] AhmedX6 opened #158 "Socket IO Connection fails"
Hello,

I just copied and pasted the sample code on the readme.

I'm using Socket IO Tester (a Google Chrome plugin to test the socket). It seems that I can't connect to the socket correctly, this message appears "An error occured while reconnecting"
In the log I got the "on connection" but I can't connect to the socket.
![screenshot from 2016-11-19 19-59-20](https://cloud.githubusercontent.com/as

[2016-11-22 10:45] aksentyev opened #159 "server disconnects client after emitting message"
server:
[code]

Socket.io-client v1.6.0 and 1.3.7 was tested and has the same behavior.
socket.io's native js implementation doesn't have this problem.

Maybe anyone have the same issue?

[2016-11-26 14:45] loint commented on #159
Same issue !!

[2016-11-26 14:58] loint commented on #108
+1 have many un-stable issues.

[2016-11-29 17:24] dcormier commented on #138
Possibly related to #59.

[2016-12-10 12:29] balintant commented on #149
@googollee What's the state of this?

I don't know how much you want to change for that. You mentioned "new version", which feels to me like a major update.

If that's not the case and PRs are welcome, I might implement this.

[2016-12-13 15:01] danielfbm commented on #156
@googollee will the API be much different from this one? I am planning to start using this library, but I need something that would not have breaking changes once I replace if your new library...

thanks for your work and time

[2016-12-14 10:33] googollee commented on #149
Yes it's a major update. You can find code on v1.4 branch, which is kind of working, but not stable and lack of testing.

[2016-12-14 10:35] googollee commented on #156
API will change. You can find code on v1.4 branch, which is kind of working, but not stable and lack of testing.

[2016-12-15 07:45] balintant commented on #149
@googollee so I can jump in and decrease that lack of testing ;)

[2016-12-15 10:11] googollee commented on #156
@danielfbm I just fix a race when upgrading. Now the example should run OK if you use latest go-engine.io and go-socket.io in v1.4.

[2016-12-15 10:12] googollee commented on #152
API will change. You can find codes on v1.4 branch, which is kind of working, but not stable and lack of testing.

[2016-12-15 10:16] googollee commented on #149
@balintant Thank you.

I just fix a race when upgrading. Now the example should run OK if you use latest go-engine.io and go-socket.io in v1.4.

IMO, cluster-support should be separated from socketio, focusing on broadcasting between multi-node. It can register a receiver with key, then broadcast a message to all receiver registered. It should abstract an interface, which let user custom their bac

[2016-12-15 16:54] balintant commented on #149
I will try to free some time up next week, so I can go through [go-engine.io] and [v1.4].

[go-engine.io]: https://github.com/googollee/go-socket.io
[v1.4]: https://github.com/googollee/go-socket.io/tree/v1.4

[2016-12-16 08:04] danielfbm commented on #156
@googollee thanks, I will test it this weekend.

Let me know if you need any help on the development. I want to use this in production so I might help you with some coding as well!

微信：danielfbm

[2016-12-22 00:49] holygeek opened #161 "1.4 is missing Conn.Request()"
In my code that uses the old go-socket.io version I used `socketio.Socket.Request()` to get the original `*http.Request` that initiates the socket connection. I used this for getting the cookies associated with the connection.

Now with 1.4 `socketio.Conn` I can no longer do that, there is no `Conn.Request()`, but there is `Conn.RemoteHeader()` so a work around is to manually process the returned

[2016-12-22 11:30] googollee commented on #161
Thank you for testing the latest code. I'm really glad to hear the feedback.

Currently, you can grab *http.Request through setting a function in Config.RequestChecker. But seems it separated from Conn now.

Yes. I can add Conn.Request(). And it will return the first http.Request(Connect request) of this connection. Which means if you use polling transport, it will only return the first http.Reque

[2016-12-22 13:08] holygeek commented on #161
As long as the connection ID() remains the same, and is associated with the first request, then I guess it is okay. In other words, the same go-socket.io.Conn.ID() is made by multiple, different http requests in the case of long polling, right?

[2016-12-22 20:37] googollee commented on #161
It depends:

 - If the transport is websocket, there is only one HTTP connection and only one request of course. The following reading/writing will reuse on this connection.
 - If the transport is polling, all request is the short connection. It will use POST/GET to simulate one connection and every POST/GET will contain its request. But I think the first one is more important because it should co

[2016-12-22 20:44] googollee commented on #161
And as http.Request contains a lot of reference field, the user must not change its contents to avoid race condition.

[2016-12-22 21:42] holygeek commented on #161
That sounds good!

[2016-12-22 22:08] googollee commented on #161
Just make a quick fix. Please update both go-socket.io and go-engine.io. You can custom engineio.Options.ConnInitor to init a Conn with *http.Request and Conn.SetContext.

[2016-12-24 11:59] holygeek commented on #161
I'm halfway updating my code to use the 1.4 go-socket.io. I noticed that the `OnConnect` event is not dispatched - [this line](https://github.com/googollee/go-socket.io/blob/v1.4/example/main.go#L18) is never printed to the console when running the example program. Is that a bug?

[2016-12-29 09:34] BlackCodes opened #162 "long connection and then appear upgrading"
we use go-socket.io in my project. client connection is normal, But send many messages or later one hour.The socket.io appear  "upgrading" Error. we also can't send message. There isn't  discount hint. It's looks like socket also normal. We want to get help and how to resolve this question?
Many thanks!

[2017-01-06 09:23] lcg635 opened #163 "发现一个调用了两次connection事件的问题"
在socket.go的loop函数中, s.socketHandler.onPacket(nil, &p) 被调用了两次,
第一次传入了一个连接包, 第二次我发现这里会收到客户端传来的连接包,
这样就相当于触发了两次连接事件. 客户端用的是socket.io-1.4.5和socket.io-1.3.7

[2017-01-11 12:46] awdrius opened #164 "Sending JSON/non string payload"
I'm trying to send a JSON payload by Marshaling struct or converting numbers to strings so it makes sense that socket.io JS client gets a string (and in JSON case - escaped string).

By examining WS frames in Chorme dev tools I see that message is a JSON object if message is sent from, say, JS server (NodeJS), but it is treated as a string if I do the same with go-socket.io. The same happens if I

[2017-01-11 12:51] awdrius commented on #164
Huh, I updated library and I can send structs that do ho as a JSON object now. I will test is and will update this issue.

[2017-01-11 13:09] awdrius commented on #164
OK, my bad, I now can send data the way I want, json declarations work as expected.

[2017-01-11 13:09] #164 closed

[2017-01-14 04:19] chadfurman opened #165 "unknown tls.Config field 'GetCertificate' in struct literal"
[code]

I don't think that's supposed to happen?

[2017-01-16 06:04] producerism commented on #157
if you nstat, can you see whether or not there are actually two connections and not just one?

[2017-01-16 12:38] #67 closed

[2017-01-19 10:07] balintant commented on #149
@googollee ah, I just realized what you said. Your solution sounds better. ;)

I will have time on the week of 30th. That discussion would be great. Maybe on some IM kinda place like [Gitter][gitter]?

[gitter]: https://gitter.im

[2017-01-19 22:33] googollee commented on #149
Sure. I use Telegram & wechat if you like them. You can find @googollee to reach me. Or you can find me on Hangouts & iMessage with i@googol.im.

Gitter seems a kind of Slack. Do you have a group already? What's that group for?

[2017-01-22 11:20] elimisteve commented on #57
+1

[2017-01-26 18:15] balintant commented on #149
@googollee Gitter is based on GitHub. So your projects can have their own channels basically. It's pretty nice 😊

[2017-01-31 00:43] parhamdb commented on #159
if you emmit json from client, this happens.
it is all ok if you are just sending strings. so just JSON.stringify before sending to server

[2017-02-09 08:54] agbaraka commented on #138
+1

[2017-02-09 13:54] stverhae opened #166 "v1.4 OnConnect() not triggering"
I was checking the impact of v1.4 conversion on my code when I noticed the OnConnect never triggers.
I ran the example in the 1.4 branch and noticed the same issue. Even if you put  a panic in the OnConnect handler, nothing happens. Major breaking issue for us.

[2017-02-09 20:14] agbaraka commented on #138
I think I figured out the problem. I notice that "Namespace" interface did not implement a "On" method. So when you call "On" there is no method to handle that call. I might be wrong :)
[https://github.com/googollee/go-socket.io/blob/master/namespace.go](url)

[2017-02-09 21:29] dcormier commented on #138
The `namespace` type composes `*baseHandler`, which has [On](/googollee/go-socket.io/blob/master/handler.go#L24)

[2017-02-22 13:48] tpoxa commented on #166
Same here. Have you found any solution?

[2017-02-22 15:10] stverhae commented on #166
Nope, I just went back to using the old version as I didn't trust the v1.4 version at this stage yet. You can fork and hack in the fix, but for us that kind of defeats the purpose of upgrading. Tried to make a clean fix so I could submit a PR, but was unsure where to do that since the relevant code still seems to be in a transition fase between the old master code and v1.4.
Hopefully this gets fix

[2017-02-23 22:24] googollee commented on #166
Thank you @stverhae. Could you try again?

[2017-02-24 08:10] stverhae commented on #166
@googollee Thanks, the onConnect handler works well in the example code now!
Could you shed some light on the state of the v1.4 branch? how production ready is it, and would you recommend people to upgrade at this point?

[2017-02-25 19:07] tpoxa commented on #166
Thank you for update. On connect event works now. But what about onDisconnect?
Should I see "closed" message after I close the page?

[2017-02-25 21:25] googollee commented on #166
@tpoxa Currently, if you close socketio connection in js, the server will receive disconnect event, otherwise, the server will receive an error.

[2017-03-21 17:40] fromiuan opened #170 "concurrent map read and map write"
请问在并发下，发送广播，会不会造成map读写问题
`goroutine 1237 [running]:`
`runtime.throw(0xee03c0, 0x21)`
`	/usr/local/go/src/runtime/panic.go:547 +0x90 fp=0xc820aa2b98 sp=0xc820aa2b80
runtime.mapaccess1_faststr(0xd29f00, 0xc8203a4b70, 0xc820b17600, 0x13, 0xc820b17600)`
`	/usr/local/go/src/runtime/hashmap_fast.go:202 +0x5b fp=0xc820aa2bf8 sp=0xc820aa2b98
github.com/googollee/go-socket%2eio.broadcast.Send(0xc8203a4b70,

[2017-03-24 09:28] pathbox commented on #110
I am using it for the app in my work. But something is problem.
I use mgo
The websocket connections are 1w, but the memory usage reaches 14G, it is too terrible, and I don't know why.
What could be the problem?

[2017-03-24 10:43] pathbox opened #172 "线上服务使用go-socket.io，遇到消耗大量内存"
为了兼容以前的服务，以前是用socket.io 写的，和前端配合。但是，服务撑不住了，改用go-socket.io重构了代码。 现在的情况是，1w+ 的socket connection 消耗了14G内存。 就是用普通的go websocket 方案，也不会消耗这么多内存。
所以，想问的问题有两个：
1. go-socket.io 是用go重新写了一遍socket.io的库，还是只是一层socket.io api, 真正底层服务还是用到了socket.io
2. go-socket.io 是怎么引用到socket.io 的，每个goroutine是一个连接，还是一个 socket.io 的服务了，导致消耗了大量内存. 可以告知代码位置吗？

[2017-03-24 10:44] pathbox commented on #172
还有就是，namespace 不能用额， 然后 被我们自己修复增加了个方法

[2017-03-24 10:46] googollee commented on #172
1 Rewrite from base. It doesn't use any Node.js code.
2 One goroutine per connection.
3 Please try v1.4 branch.

On Fri, Mar 24, 2017 at 11:44 AM, pathbox <notifications@github.com> wrote:

[2017-03-24 10:50] pathbox commented on #172
Thank you very much

[2017-04-01 12:53] KasemJaffer opened #173 "How to add url queries or headers while connecting?"
I can't find a way to add queries or headers to the url. We need that for authorization. I.e to send access token.

[2017-04-01 12:55] KasemJaffer commented on #173
Sorry... This was meant for the android client 😅

[2017-04-01 12:55] #173 closed

[2017-04-07 17:11] lincanli commented on #149
Hi, any update on this issue? I downloaded v1.4 version of go-socket and go-engine and have no idea to to setup cluter

[2017-04-07 19:31] balintant commented on #149
@lincanli I happened to lose the time I could have invest in this. I'm planning to get back to this as soon as possible.

[2017-04-19 19:46] Equim-chan commented on #132
Same problem here. I also used `so.Join(so.Id())` to resolve it but it doesn't seem like a good solution.

[2017-04-22 17:44] pgamaster opened #174 "Growing number of connections"
I've got a busy site with about 2000+ online users.
When I'm trying to launch the go code - connections growing to the limit:
I'm setting 50000:
`server.SetMaxConnection(50000)`
After that the program is stuck.
**I used your code as example with modified SetMaxConnection only.**

Server is behind cloudflare: **server:cloudflare-nginx**

[code]

[2017-04-22 17:51] pgamaster commented on #174
**ulimit -n** is high enough

[2017-04-23 15:12] pgamaster commented on #104
Currently using node version
but the problem is here
https://github.com/googollee/go-socket.io/issues/174

[2017-04-26 08:12] pathbox opened #176 "websocket-bench test"
I use websocket-bench to do some test. I build 10000 socket, no data, and I hold them. They consume about 700-800M  memory

[2017-04-27 12:55] #174 closed

[2017-04-28 12:46] pgamaster commented on #162
+1 getting "upgrading" Error

[2017-04-28 12:52] pgamaster commented on #52
+1 upgrading error under 2000+ clients

[2017-05-03 03:29] shacoqian opened #177 "The event is not work with chinese"
var socket = io.connect('ws://localhost:5000');
	socket.emit('login', {id:'1', name:"中文"});

I user chinese, but it's not work

[2017-05-15 16:14] JuanjoA commented on #138
Maybe someone can help with this tip, how to work with namespaces?
Thx.

[2017-05-16 07:18] pkxiuluo commented on #57
+1

[2017-05-16 08:01] elimisteve commented on #57
Just added a $15 bounty for this; thank you @rykov for the idea.

Would love to see this feature!

[2017-05-20 17:10] EwanValentine commented on #138
Is this codebase maintained anymore? Can't get namespaces/rooms to work at all unfortunately.

[2017-05-20 17:12] googollee commented on #138
please try v1.4

[2017-05-22 07:48] Anteoy opened #178 "Excuse me,Can not the branch v1.4 use the feature of 'room' now?"
I get the branch of v1.4 . I can not find anything of the 'rooms',Is it not support now？

[2017-05-25 14:05] googollee commented on #178
Not yet.

[2017-05-26 12:12] pathbox commented on #172
Today, I find the reason that leads to memory leak, it is not the go-socket.io. go-socket.io is working well.

[2017-05-27 07:14] #178 closed

[2017-05-28 17:20] mihok commented on #161
I'm also interested in getting the http.Request() from the Conn to pull an extra GET parameter with the initial socket connection.

[2017-05-28 18:25] mihok opened #179 "Unable to set Headers to allow remote connections"
I've been unable to get 1.4 to work properly.

It looks like the ServeHTTP connection is trying to write its own headers and therefore I cannot set Access-Control-Allow-Origin headers.

Any help would be greatly appreciated (awesome work on this lib)

[2017-06-06 23:01] xxxtonixxx commented on #108
+1 have the same issue.

[2017-06-09 12:01] LionelWoody commented on #132
same problem.

[2017-06-14 07:07] kamildrazkiewicz commented on #179
I had been struggling with the same issue and I found solution which is very simple. You just need to pass ResponseWriter Headers to websocket.Upgrade() method.

Here's a code and PR (@googollee):
https://github.com/googollee/go-engine.io/pull/51

After that, you will be able to set `"Access-Control-Allow-Origin"` header on your connection handler.

[2017-06-15 03:07] pangdahua opened #180 "send to undefined nsp trigger panic"
my mistake!

[2017-06-17 22:36] AStaroverov opened #181 "Cant install v1.4"
Hi, I'm new to the world of go, and I do not understand how to install a package of a certain version.
Im try
[code]
and result was
[code]
I tried to use dep and I also failed.
What i should do for install go-socket.io v1.4?

[2017-06-19 10:21] fooevr commented on #166
I close socket.io connection in js, but OnDisconnect and OnError  event is not trigger.
go-socket.io version is v1.4. can you fix it? thanks.

[2017-06-21 21:53] juanvallejo commented on #181
If using gopk.in does not work, you could just try cloning the repo with `-b v1.4` to `$GOPATH/src/github.com/googollee/go-socket.io`

`$ git clone -b v1.4 https://github.com/googollee/go-socket.io $GOPATH/src/github.com/googollee/go-socket.io`

[2017-06-23 19:25] AStaroverov commented on #181
Ok, i can use it for devolop at local machine,but if i want use it for
every day automatically deploy?
Mb u can say when 1.4 will be merge to master?

чт, 22 июня 2017 г., 0:53 Juan Vallejo <notifications@github.com>:

[2017-07-03 09:05] pangdahua opened #182 "Writing data more frequently will cause panic"
发现如果数据发送的比较频繁，会导致与ping的数据写时并发,go race 在大量的客户端的情况下，会引起websocket的写并发panic。

[2017-07-04 21:32] googollee commented on #182
Show me the code

[2017-07-04 21:35] googollee commented on #181
I don't understand what's the meaning of automatically deploying.

Because v1.4 is not compatible with the master, I don't have any plan to merge them. If I want to do it, I will use the master branch as developing branch, and move all releases to their branches separately.

[2017-07-04 21:35] #181 closed

[2017-07-04 21:35] #180 closed

[2017-07-04 21:36] #172 closed

[2017-07-04 21:38] googollee commented on #177
I have investigated it before. It caused by socket.io-client. When client pass Chinese text to websocket in js, it will convert the codec. I didn't find the convert detail.

If so, please use base64 when connecting.

[2017-07-04 21:38] #177 closed

[2017-07-04 21:39] googollee commented on #170
Which version? Example code?

[2017-07-04 21:40] googollee commented on #166
@fooevr could you give me any example code?

[2017-07-04 21:41] googollee commented on #165
Please use v1.4

[2017-07-04 21:41] #163 closed

[2017-07-04 21:42] googollee commented on #162
Which version?

[2017-07-05 01:35] fromiuan commented on #170
sorry , The project has been abandoned，so i not code ,i will close the question

[2017-07-05 01:36] #170 closed

[2017-07-05 02:35] pangdahua commented on #182
![image](https://user-images.githubusercontent.com/9814844/27846944-25b61ad4-616d-11e7-9ca3-89d40904eb88.png)

I want realize broadcast.

When delete engine.io/session.go line 75  ping code, look normal.

thk

[2017-07-11 01:26] #165 closed

[2017-07-11 20:26] LFerrolho opened #183 "so.Emit not delivering message, keep stuck with Upgrading error"
<pre>
package main

var waitingQueue []Connection
var curConnections = make(map[string]Connection)

var gameID = 0

type Connection struct {
	Socket    socketio.Socket
	Username  string
        GameState *GameState
}

func main() {
	server, err := socketio.NewServer(nil)
	if err != nil {
		log.Fatal(err)
	}

	quit := make(chan struct{})
	go matchPlayers(quit)

	server.On("connection", func(so sock

[2017-07-19 19:26] plamenGo opened #184 "Protocol Compatibility"
Hi, which version of the protocol does the v1.4 branch support please? Looking to ascertaion version compatibility with this client side lib: https://github.com/Quobject/SocketIoClientDotNet

[2017-07-21 08:39] googollee commented on #184
I tested with js version socket.io-client.

[2017-07-24 20:54] googollee commented on #183
Could you try the branch v1.4? It fixed a lot of this kind issues.

[2017-07-24 20:55] #166 closed

[2017-07-24 20:56] #161 closed

[2017-07-24 20:58] #179 closed

[2017-07-24 21:00] googollee commented on #182
Will you give me a complete demo code, which can reproduce this issue? It's hard to figure out what you want to do from an image.

[2017-07-24 21:00] googollee commented on #176
Which branch are you test?

[2017-07-25 00:14] LFerrolho commented on #183
I ended up using nodejs socket.io version. But I'll try later v1.4 and give you feedback

[2017-07-25 02:58] pangdahua commented on #182
package main

import (
	"gopkg.in/googollee/go-socket.io.v1"
	"gopkg.in/googollee/go-engine.io.v1"
	"gopkg.in/googollee/go-engine.io.v1/transport/websocket"
	"gopkg.in/googollee/go-engine.io.v1/transport"
	"log"
	"net/http"
	"sync"
	"time"
	"github.com/golang/glog"
	"flag"
	"runtime"
)

func init() {
	flag.Parse()
}

type DemoServer struct {
	io *socketio.Server
	clients map[string]socketio.Conn /

[2017-07-25 03:09] pangdahua commented on #182
that would trigger panic: concurrent write to websocket connection.
PingInterval time short, would increase panic.
I guess go-engine.io.v1/session.go line 77 cause

thx

[2017-07-26 02:41] pathbox commented on #176
The master branch

[2017-08-08 05:37] madarou commented on #182
@pangdahua @googollee I met the same issue. Have you fix this(not by comment out PING message)

[2017-08-08 06:45] madarou commented on #182
why use RLock() when write message in /go-engine.io.v1/session.go, why not use Lock()? @googollee
[code]

[2017-08-12 05:20] #76 closed

[2017-08-13 12:48] jackingzhao commented on #182
@googollee
确实会存在这样的状况

panic: concurrent write to websocket connection

goroutine 22 [running]:
github.com/gorilla/websocket.(*messageWriter).flushFrame(0xc04213ce00, 0x1, 0x0, 0x0, 0x0, 0x0, 0x0)
	D:/GoPath/src/github.com/gorilla/websocket/conn.go:589 +0x608
github.com/gorilla/websocket.(*messageWriter).Close(0xc04213ce00, 0xc04223bc38, 0x18)
	D:/GoPath/src/github.com/gorilla/websocket/conn.go:70

[2017-08-13 12:54] jackingzhao commented on #182
因为使用的
conn.go 中
go ret.serveError()
go ret.serveWrite()
go ret.serveRead()

读合写，会同时竞争websocket， 而gorilla的websocket不支持并发操作

https://github.com/gorilla/websocket/issues/119

[2017-08-23 12:59] kuzzmi opened #185 "Authorizing socket connection using JWT"
Hi! It's not an issue by itself, but I struggle with understanding of how to implement the following behavior with `go-socket.io`.

In the official Node.js version, you have access to query string that was used by a client to establish the connection. This way one can pass JWT using the connection string, e.g.:

[code]

And in the `connection` event handler one can get this information and authori

[2017-09-16 10:16] NikosEfthias commented on #158
same here i cant connect at all

[2017-09-16 12:54] AhmedX6 commented on #158
I solved this with Cors !

[2017-09-18 23:11] osxi commented on #110
We run this in production. A simple API that blasts out WS traffic to a single page web app and it uses anywhere between 10-13 MB on a normal day. The Docker container that runs the API on Kubernetes has a 15 MB memory limit and hasn't had any issues since it's creation (about one year ago).

So I'd say yeah-- it's production ready :)

[2017-09-21 10:50] pangdahua commented on #182
请问 楼上各位怎么解决的？

[2017-10-07 22:34] gnosis75 opened #186 "SetSessionManager function"
Hello,
could someone show me an example of use this function?

[code]

I need customize it as a load balancer.

[2017-10-10 17:59] MattDrummy commented on #138
So after working on this, I found a solution that works well for me.  Basically upon setting the socket, you send an emit to the server with the name of the room you wish to join.  On the server, you use a so.On("open") to take the name of the room and the name of the user and do a so.Join() to add the user to the room.  On the client, you don't have to do anything special for the socketFor, and i

[2017-10-18 07:58] tangxinfa commented on #166
@googollee Sadly the OnError callback just pass a error object, no conn provide, so i can't figureout which connection disconnected

[2017-11-02 13:54] qinzhao168 commented on #108
https://github.com/googollee/go-engine.io/issues/35
this issues When to fix it？

[2017-11-02 22:40] xxxtonixxx commented on #108
Maybe next year :trollface:

[2017-11-02 22:56] qinzhao168 commented on #108
Then how can I solve this problem, I urgently needed

[2017-11-02 23:00] qinzhao168 commented on #182
请问 楼上用的是什么版本的？

[2017-11-02 23:08] qinzhao168 commented on #108
But now there is no sta
But now there is no stable version of it? 1.4 version also have problems?ble version of it?1.4?

[2017-11-03 01:37] xxxtonixxx commented on #108
I don't know if 1.4 version has these problems. It is very unstable to me, so I don't use it...

[2017-11-03 01:49] qinzhao168 commented on #108
What do you replace it?

[2017-11-03 02:06] xxxtonixxx commented on #108
I recommend you to use https://github.com/gorilla/websocket or https://github.com/gobwas/ws (better performance and control, but cruder). However, they doesn't support the socket.io protocol...

[2017-11-03 02:10] qinzhao168 commented on #108
Yes, you are right, this is the problem，Thanks

[2017-11-09 09:52] diman94 commented on #111
@natdm How did you solved it? I seem to have similar issue

[2017-11-16 12:25] #116 closed

[2017-11-19 21:18] betamos commented on #98
Still an issue. Workaround: json.Marshal and Unmarshal back into a map[string]interface{}.

[2017-11-21 00:26] ghost opened #188 "Socket.io 2.0 support"
Is there anything planned for it?

I can't get it to work with [JS socket.io-client](https://github.com/socketio/socket.io-client), the connection just never seems to happen.

[2017-11-21 18:55] utdrmac commented on #188
pretty sure this project is dead

[2017-11-21 22:14] googollee commented on #188
No. I don't have time to maintain this project now. You can fork it and add the feature yourself.

[2017-11-21 23:00] utdrmac commented on #188
@googollee any official forks? any new maintainer?

[2017-11-22 10:01] googollee commented on #188
No. At least I don't know. If any one want to take it, please notice me. I
can write it in README.

On Wed, Nov 22, 2017 at 12:00 AM, Matthew <notifications@github.com> wrote:

[2017-12-06 10:45] KristinaEtc commented on #143
@AhmedX6 Hi, did you get what's the problem of this error?

[2017-12-06 13:00] AhmedX6 commented on #143
@KristinaEtc I forgot ... It was a long time ago now... I fixed the issue. I added cors, here is my last code :
[code]
On Android like this :

[code]

And that's it ... It worked...

[2018-01-03 08:35] wenzhenxi opened #190 "panic: send on closed channel"
panic: send on closed channel

goroutine 3306134 [running]:
sunmi-socket.io/vendor/github.com/googollee/go-engine.io/polling.(*Writer).Close(0xc73d557b40, 0x9b4d10, 0xc73d557b60)
        /app/go/src/sunmi-socket.io/vendor/github.com/googollee/go-engine.io/polling/writer.go:29 +0xdb
sunmi-socket.io/vendor/github.com/googollee/go-engine%2eio.(*connWriter).Close(0xc73d557b60, 0x0, 0x0)
        /app/g

[2018-01-04 20:46] Mobilpadde opened #191 "Connect to existing server?"
I cannot seem to find anything, but is it possible to connect to an existing server, instead of creating one?

[2018-01-09 11:59] majintao commented on #134
https://github.com/googollee/go-socket.io/issues/190    is the same problem

@googollee

[2018-01-11 02:10] majintao commented on #190
@googollee  the same problem

[2018-01-28 22:57] erkie commented on #134
@majintao or anyone else in this thread, you can check/help out my debugging journey here: https://github.com/googollee/go-engine.io/issues/53

[2018-01-28 22:59] erkie commented on #191
This project does not seem to have a websocket client for Go. However, the library it uses seems to have client support: https://github.com/googollee/go-engine.io/blob/master/websocket/client.go

[2018-01-30 14:56] Mobilpadde opened #386 "Connect to existing server"
Please provide an example of how to connect to an existing socket.io server.

[2018-01-30 15:10] Mobilpadde commented on #191
@erkie, oh, that's neat! But, I can't figure out how to use the client?

[2018-01-31 17:03] erkie commented on #191
Hmm... From the looks of it it's only used for testing. Internally it uses https://github.com/gorilla/websocket which is probably more what you're looking for.

[2018-02-01 11:01] Mobilpadde commented on #191
As I understand Gorilla, it doesn't support socket.io

[2018-02-02 10:34] #118 closed

[2018-02-06 15:38] googollee opened #192 "Contributors wanted!"
**JOIN OUR TELEGRAM CHAT: https://t.me/go_socketio**

**TL;DR**, Anyone wants to take over this project? I hope someone can help me to maintain it.

- Background

I created this project when I needed it during my work. The code was 0.9.x branch which corresponded to socket.io 0.9.x. That branch worked OK, but the code itself was very ugly and low-performance.

So after a while, I started working o

[2018-02-09 15:17] crazyou opened #193 "we meet "upgrading" error frequently"
when we use the websocket , we meet "upgrading" error frequently,  sothat we can not emit the msg to web by websocket
does anybody meet the situation, and is it a bug ?  or we have some method to resolve it
Thanks

[2018-02-20 09:44] kidandcat commented on #192
Hi, I want to help if you agree, I always loved socket.io and I want to have it on Go.

[2018-02-20 11:12] googollee commented on #192
I didn't check the difference between 1.4 and 2.0. If you say socket.io 2.0, I think starting from scratch maybe a good idea.

[2018-02-20 13:05] erkie commented on #192
To not have all the work you did @googollee on 1.4 completely out the window, would you mind just describing the performance enhancements you mentioned for the 1.4 branch, compared to the current master version? I'd love to help out here, but I would like to understand a bit more what's been done, what your architectural ideas were, etc?

[2018-03-07 02:51] mmmmmagina opened #194 "example in documentation report "http: multiple response.WriteHeader calls" error when client connect from browser. And the client received "Error during WebSocket handshake Ask Unexpected response code: 403""
Hi, guys,
   I tried your example in branch 1.4, i write a simplest web page to conncet the example main.go server, first i received cors error, after fix that , then the server print out some log "http: multiple response.WriteHeader calls" and the client also report the error : "Error during WebSocket handshake Ask Unexpected response code: 403", do someone see this problem before?

[2018-03-07 13:27] vyzo opened #195 "gopkg.in/googollee/go-socket.io.v1 is broken"
[code]

Grepping the sources reveals that there is an import for a non-existent parser package:
[code]

[2018-03-11 20:33] googollee commented on #192
The main difference is the 1.4 branch try to avoid too many lockers and separate the transport layer to go-engine.io. The separation makes the implementation of go-socket.io much simpler. The socket created from go-engine.io will call socket.loop() to handle the messages, which is a good start point.

The difference in go-engine.io and old master branch is in http-polling. It will force only one G

[2018-03-12 14:50] niocncn commented on #56
same question, where can i get defaultAdapter?

[2018-04-18 11:01] stoickk opened #385 "cocos使用libwebsockets出现的两个问题 和 解决方案"
协议顺序如下:
1.client->>server: dial
2.server->>client: reply open
3.client->>server: dial upgrade
4.client->>server: upgrade ping probe
5.server->>client: upgrade pong probe

客户端:cocos creator 1.8
服务端:golang  go-engine.io
在浏览器里面跑一切正常,因为浏览器里用的是socket-io.js库.
打完包后,在android上运行出现问题.android平台用的是libwebsocket静态库
问题一 :
当执行到 协议顺序2 的时候,go-engine.io返回的数据是 xx:0{...}\n 这里多了\n,导致客户端始终显示连接不上.
解决方案: 去掉\n就好了,我使用了另外一种方

[2018-04-20 09:29] wangxiangwei008 opened #198 "hello,How to set a cross domain?"
hello,How to set a cross domain?

[2018-04-20 11:44] googollee commented on #198
#140

[2018-04-20 11:44] #198 closed

[2018-04-21 09:58] pathbox commented on #172
@fnf521  The reason is not from `go-socket.io`. It is about the session or global map

[2018-05-03 09:24] wyunshaw opened #201 "encoder.go error"
go-socket.io/parser/encoder.go
when i = 10,  will write to be ":";

[code]

when  changed like followed code,will run well;
[code]

[2018-05-30 08:29] erkie commented on #192
@googollee can you add me as contributor on go-engine and go-socket? I can help by checking and merging pull requests to fix bugs that people find.

[2018-05-30 20:34] googollee commented on #192
@erkie Done. Thank you.

[2018-06-05 07:10] shiyanlin commented on #182
你们并发读写的问题解决了吗

[2018-06-11 07:51] erkie commented on #195
@vyzo can you confirm if this was fixed by #189?

[2018-06-11 07:51] erkie commented on #201
@wyunshaw could you please make a PR for this?

[2018-06-11 08:32] erkie commented on #179
@googollee do you remember why you closed this issue? The PR that @kamildrazkiewicz seems very relevant to the master branch at least.

[2018-06-11 14:09] googollee commented on #179
IMO, it's better to wrap a ServeHTTP() and handle headers in the wrapper. It always work well to me, and I can't find any benefit by adding a API to update headers.

Some similar issues: #33, #46, #70.

[2018-06-11 14:19] #44 closed

[2018-06-11 14:20] erkie commented on #44
Closing this because it's very very old. Please feel free to re-open if you still think it's an issue.

[2018-06-11 14:21] erkie commented on #45
Closing this because it's very very old. Please feel free to re-open if you still think it's an issue. (also #121 is newer :)

[2018-06-11 14:21] #45 closed

[2018-06-11 14:22] erkie commented on #47
Closing this because it's very very old. Please feel free to re-open/comment/open a new issue if you still run into it. Thanks!

[2018-06-11 14:22] #47 closed

[2018-06-11 14:22] #49 closed

[2018-06-11 14:24] erkie commented on #68
Closing this issue because it is very broad. If you have any specific races please open separate tickets for them so it's easier to take a look at.

[2018-06-11 14:24] #68 closed

[2018-06-11 14:28] erkie commented on #57
For now it seems that it makes more sense to create a separate repo/project for a go client of the Socket.io standard. It's awesome to see so much interest, but right now there's not enough momentum in the form of maintainers or contributors to make this happen within a reasonable timeframe. That's why I'm closing this (not sure what happens with the bounty posted above...)

If anyone disagrees fe

[2018-06-11 14:28] #57 closed

[2018-06-14 18:02] vyzo commented on #195
a bit low on bw right now.

On Mon, Jun 11, 2018 at 10:51 AM, Erik Rothoff Andersson <
notifications@github.com> wrote:

[2018-06-15 06:46] erkie commented on #195
@vyzo no probs! Closing this for now since it seems very much fixed. If not feel free to open it again.

[2018-06-15 06:46] #195 closed

[2018-06-16 12:59] eyudkin opened #203 "Concurrent encoding/decoding"
I found, that mutex (passing to encoder/decoder) does not work, because it should be passed by reference.
For now it looks like:
[code]
(should be `NewDecoder(r FrameReader, mtx *sync.Mutex) `)
And at the result, decoder and encoder have different mutexes and it causes bad situations when application tries to emit something in the same moment with the PING request and etc.

Unfortunately, I can no

[2018-06-16 13:05] googollee commented on #203
Which branch? v1.4 or master?

[2018-06-16 13:05] tensor146 commented on #203
1.4

[2018-06-16 13:06] googollee commented on #203
You mean https://github.com/googollee/go-socket.io/blob/v1.4/parser/decoder.go#L29 ?

[2018-06-16 13:08] tensor146 commented on #203
Oops, sorry, I forgot that I made some changes in my fork. This mutex was my fix for some concurrent situations.

[2018-06-16 13:12] tensor146 commented on #203
One of them - its writePacket call in encoder.Encode function.

[code]

So, calls like `e.w.NextWriter(engineio.TEXT)` works with session (it has upgradeLocker mutex) - and its safe.
But writePacket - no, and (as I understood) in some cases it closes writer, when reader works with it.

[2018-06-16 13:40] tensor146 commented on #203
So, @googollee - issue is still actual (as for me) ;)

[2018-06-17 03:05] googollee commented on #203
Encoder.writePacket() should not race with eath other. NextWriter() will block each other and only one return writer to do writePacket(). Could you give an example to show the issue?

[2018-06-18 09:57] tensor146 commented on #203
[Code screenshot](https://i.imgur.com/FxRi1z1.jpg)
[Stacktraces screenshot](https://imgur.com/TVm4LcZ)
As I understand the situation: serveWrite->encode->writePacket closes connection without any mutexes (WriteCloser interface), but serveRead ->DecodeHeader->... works with it.
So, my error text is:  `websocket: write closed`

[2018-06-20 10:54] W1llyu opened #384 "serverConn closed without calling serverConn.OnClose()"
Some connections are closed but they are still in session manger and the amount of connection in `engineio.Server` is not decreasing.

I tracked this and found sometimes connections closed without calling `ServerConn.OnClose()`, and this may be caused by the lock in `polling.Server`.

So what if waiting for the lock in `polling.Server.Close()` to touch off the callback of `ServerConn`?

[2018-06-28 06:36] liqi7417 commented on #193
it is a big problem, client send upgrade req to server, then send '2probe' and server send '3probe' back, but client not send '5' to upgrade to websocket, so server blocks in upgrading status
i think server should send res back in polling transport rather than waiting for websocket upgrade.

[2018-07-17 08:52] tdida opened #206 "Not able to make namespaces work"
`func main() {
	router := gin.Default()
	var err error

	SocketServer, err = socketio.NewServer(nil)
	if err != nil {
		log.Fatal(err)
	}

	router.GET("/socket.io/", socketHandler)
	router.POST("/socket.io/", socketHandler)
	router.Handle("WS", "/socket.io/", socketHandler)
	router.Handle("WSS", "/socket.io/", socketHandler)

	router.Run(":8000")
}

func socketHandler(c *gin.Context) {

	SocketSer

[2018-07-23 13:45] erkie commented on #206
What error are you getting? What exactly is happening? Which version of this library are you using?

[2018-08-03 03:45] thuandoan274 opened #207 "How socketIO can emit through socket ID ?"
I wanna emit through socket ID like this
[code]

[2018-08-03 13:57] #207 closed

[2018-08-29 02:46] michaelyou opened #208 "LIsten to all events"
Is it possible to have a socket.io client respond to all events without to have specify each event individually?

[code]

[2018-09-27 08:33] manongguard commented on #206
oh shame, i accidentally erased my work for the namespaces for I am trying too many different implementation. Will try to provide if i get back on it, but is this good for socket.io 2.0?

[2018-09-27 08:34] erkie commented on #206
This project is built for Socket.io 1.4.

[2018-09-29 10:20] zhouruisong opened #212 "how to send message to one socket?"
broadcast is to send message to all, i want to send message to one socket,  is there a solution?

[2018-10-24 17:36] SinaZK commented on #212
socket.emmit(EVENT_NAME, msg)

[2018-12-06 13:44] #208 closed

[2018-12-19 05:42] abourget commented on #194
Same here, no one? :)

[2018-12-28 11:59] niocncn commented on #149
a is there any updates?

[2018-12-28 21:36] vincentblockchain commented on #132
same problem

[2018-12-29 02:42] behsh2000 commented on #132
same problem.

but mabe we can use socket id as  a room.
server.BroadcastTo("roomname", "chat message", msg)

[2019-01-16 10:32] guhan121 opened #214 "Whether support or not send/receive proto message when work as a client?"
Whether support or not  send/receive proto message when work as a client?

[2019-01-17 10:17] erkie commented on #214
This library does not include a client for Go Socket.io, it only acts as server.

[2019-01-27 07:11] wzhsh90 opened #215 "client add query param and then server can not receive msg"
Socket.IO v2.2.0
client:
  var socket = io.connect('http://localhost:5000/socket.io?xx=bar',{transports:['websocket']});
   socket.on('connect', function () {
    socket.send('hi');
	socket.emit('chat message', "msg");
	  socket.on('chat message', function (msg) {
      console.log(msg);
    });
  socket.on('disconnect', function () {
    socket.emit('user disconnected');
  });

  });
server:
tran

[2019-01-28 13:02] Sreevani871 commented on #193
Is there any update on this. In production we are facing this problem frequently so that customer unable to receive any messages sent on the socket since the socket stuck in upgrading status. It would be great help if anyone suggest fix for this.

[2019-01-28 15:00] bhargavpanth commented on #185
I tweaked around a little and found a way to fetch the JWT token in the `so.On("connection"...)` handler. According to the socket.io [doc](https://socket.io/docs/client-api/) passing the token like
[code]
appends the token in the query parameter. So, you can access the JWT token within the
[code]
You can then pass this on to your `JWT` function to validate it

[2019-01-29 10:19] kunaldawn commented on #190
@googollee crashed our server 5 times in last month

[2019-01-29 10:20] kunaldawn commented on #190
@googollee are u maintaining this repo anymore?

[2019-01-29 10:36] googollee commented on #190
Basically, no. I don’t have enough time on this now. Welcome to PR.

[2019-01-30 09:36] googollee commented on #193
I'm very busy recently, so I'm afraid I don't have time on this project.
Welcome to pr.

[2019-02-07 17:22] jjhesk commented on #104
yes, @googollee, what is the maximum amount of the connection that this program can make if I open all available resources to support open files. 65550 with 16 cores cpus.

[2019-02-07 17:25] jjhesk commented on #182
你们并发读写的问题解决了吗

[2019-02-08 09:42] erkie commented on #104
@jjhesk one connection = one open file. How many open files linux can handle just depends on the RAM and cpu capabilities. If you increase max open files this software will handle not error. There are a couple of places that need to be changed to ensure max open files is correctly set everywhere, but if it is set correctly there is no limit.

[2019-02-08 09:42] #104 closed

[2019-02-08 09:45] erkie commented on #193
@Sreevani871 can you perhaps see if you can find a sample project or code sample that will reproduce this? It would really help us debug it. :)

[2019-02-08 09:46] #191 closed

[2019-02-08 09:47] erkie commented on #52
Closing this issue because it is old. There are a couple of newer issues with the same problem so please refer to those. Thanks!

[2019-02-08 09:47] #52 closed

[2019-02-08 09:47] erkie commented on #59
Closing this issue because it is old. There are a couple of newer issues with the same problem so please refer to those. Thanks!

[2019-02-08 09:47] #59 closed

[2019-02-08 09:51] erkie commented on #69
Closing this issue because it is old. `so.Emit("disconnect")` works. If there is an issue with this please open a new ticket. Thanks!

[2019-02-08 09:51] #69 closed

[2019-02-08 09:51] #75 closed

[2019-02-08 09:52] erkie commented on #82
This issue is really old, so it's probably been fixed/or completely changed. Please open a new ticket if this is still an issue. Thanks!

[2019-02-08 09:52] #82 closed

[2019-02-08 09:56] #83 closed

[2019-02-08 09:56] erkie commented on #74
Duplicate of https://github.com/googollee/go-socket.io/issues/64

[2019-02-08 09:56] #74 closed

[2019-02-08 09:57] #90 closed

[2019-02-08 09:57] #91 closed

[2019-02-08 09:57] #92 closed

[2019-02-08 09:58] #93 closed

[2019-02-08 09:59] erkie commented on #98
If this is still an issue please open a new issue. Thanks!

[2019-02-08 09:59] #98 closed

[2019-02-08 10:00] #97 closed

[2019-02-08 10:01] erkie commented on #103
This issue is very old now so I'm closing it. Unfortunately I don't know the answer the question, so if it's still an issue please reopen the ticket. 🙈Trying to clean up the issues here.

[2019-02-08 10:01] #103 closed

[2019-02-08 10:03] erkie commented on #108
Haven't seen this issue in a long time, so if it reappears please reopen with a new stack trace. Working example would be awesome too. Thanks!

[2019-02-08 10:03] #108 closed

[2019-02-08 10:05] #110 closed

[2019-02-08 10:06] erkie commented on #111
The original linked to sample code is gone, and this issue is really old. So please open a new ticket with a new sample code to check. Thanks!

[2019-02-08 10:06] #111 closed

[2019-02-08 10:06] #117 closed

[2019-02-08 10:06] #120 closed

[2019-02-08 10:07] #122 closed

[2019-02-08 10:07] #126 closed

[2019-02-08 10:07] #125 closed

[2019-02-08 10:07] #127 closed

[2019-02-08 10:09] erkie commented on #131
If this is still an issue please reopen this issue and amend with the version of socket.io.js you are using. Thanks!

[2019-02-08 10:09] #131 closed

[2019-02-08 10:10] erkie commented on #134
As this is a go-engine.io issue I am closing this issue. Please continue journey on the linked issue above. Thanks!

[2019-02-08 10:10] #134 closed

[2019-02-08 10:10] #136 closed

[2019-02-08 10:10] #144 closed

[2019-02-08 10:11] erkie commented on #112
The code has changed significantly since this issue was created, so please open a new issue if this is still an issue. Thanks!

[2019-02-08 10:11] #112 closed

[2019-02-08 10:12] #143 closed

[2019-02-08 10:12] #140 closed

[2019-02-08 10:14] erkie commented on #121
Interesting bug! If this is still an issue please reopen the issue. I'm cleaning up old issues. Thanks!

[2019-02-08 10:14] #121 closed

[2019-02-08 10:14] #141 closed

[2019-02-08 10:16] erkie commented on #188
There is no active full development on this repo going on, but more contributors are very welcome to submit PR. I'm here to help get PR's merged and checked :)

[2019-02-08 10:18] erkie commented on #149
@niocncn sorry no! I'll close this issue and refer to the https://github.com/googollee/go-socket.io/issues/64 for discussion on clustering/scaling up.

[2019-02-08 10:18] #149 closed

[2019-02-08 10:19] #176 closed

[2019-02-08 10:22] erkie commented on #190
This is a go-engine.io issue. Please refer to that project:

https://github.com/googollee/go-engine.io/issues/47

[2019-02-08 10:22] #190 closed

[2019-02-08 10:23] erkie commented on #156
@danielfbm if you're still interested we need help :D

[2019-02-08 10:23] #138 closed

[2019-02-08 10:24] #157 closed

[2019-02-08 10:24] erkie commented on #162
This issue is pretty old, so closing. If you have more info and it still an issue please feel free to reopen with that. Thanks!

[2019-02-08 10:24] #162 closed

[2019-02-08 10:24] #184 closed

[2019-02-08 10:25] #137 closed

[2019-02-08 10:26] erkie commented on #142
Duplicate of https://github.com/googollee/go-socket.io/issues/142

[2019-02-08 10:26] #142 closed

[2019-02-08 10:26] erkie commented on #142
Oops meant https://github.com/googollee/go-socket.io/issues/133 hihi

[2019-02-08 10:26] #212 closed

[2019-02-08 10:27] #186 closed

[2019-02-08 10:27] #185 closed

[2019-02-08 10:28] #206 closed

[2019-02-08 10:28] #214 closed

[2019-02-08 10:29] erkie commented on #215
This project does not support socket.io I'm afraid.

[2019-02-08 10:29] #215 closed

[2019-02-08 10:29] #158 closed

[2019-02-08 10:32] erkie commented on #147
Hi there! If this is still an issue please reopen and paste the version of socket.io and go-socket.io that you are using. Thanks!

[2019-02-08 10:32] #147 closed

[2019-02-08 10:34] erkie commented on #194
@abourget this repo is in need of contributors or help. So if you found the solution feel free to paste it here. :)

[2019-02-08 10:35] #156 closed

[2019-02-08 10:38] erkie commented on #107
Afaik this needs to be implemented as a custom server on the caller side with a custom `http.Server`

[2019-02-08 10:38] #107 closed

[2019-02-08 10:43] erkie opened #216 "Issue template"
@googollee I've closed a lot of old/stale issues and added tags to a lot of other issues. A common theme is the version of the socket.io client and go-socket.io version is not posted. I think an Issue template would help a lot with that.

However I can't seem to access the "Settings" tab as posted by this document. Can you perhaps follow the steps and set one up? https://help.github.com/articles/c

[2019-02-12 10:41] googollee commented on #216
Thank you for your hard work. I set a bug template.

[2019-02-12 10:41] #216 closed

[2019-02-13 11:56] LouAdrien opened #219 "Clear specs / dependencies list to make the example work."
Hello, I tried both master and v1.4 branch.
1) For master branch, the example simply does not work
2) For 1.4 branch, the example works, but adding a for loop that emits multiple messages to a socket, not all messages are actually emited (or received by the client). As it's just the default example I guess this comes from a dependency issue or something.
Is there any specific dependencies on the g

[2019-02-13 12:33] erkie commented on #219
Thanks for the feedback. For master branch (at this point in time) you need a pretty old version of socket.io client JS: 0.9. v1.4 requires AFAIK the 1.4 version of socket.io. I would say with 95% certainty that is why it's not working correctly when you try. If not, please let me know.

Also, we're working on getting v1.4 merged at which point we can improve the documentation. My vision is that i

[2019-02-14 05:18] LouAdrien commented on #219
I took version 1.4.0 of socket.io client, this does not fixe the issue.
Side note, it seems more messages are coming back to the client when this one sends regular dumb message to the server, maybe there is a design flaw in the architect that waits for client message to emit waiting message to it?

Anyhow, do you have a working example of this repository being used in a real project? Or any more s

[2019-02-14 09:03] LouAdrien commented on #219
Is there a requirement on the go version itself?

[2019-02-14 09:05] erkie commented on #219
@LouAdrien AFAIK no go version constraint. Can you paste the code you are using? Also, just to be sure, you are using the v1.4 branch of this project with the 1.4 socket.io client right?

[2019-02-17 15:34] SinaZK opened #220 "How to find out the message received to client"
Hi i'am implementing a game server with this awesome library. Now i'am testing my game and if a client with very bad internet connection joined my game after a while there is a lot messages that should send to this client (I send the game state with around 20 times per second to all clients) and this cause connection problems and another players see the bad effect of it. For solving this i have an

[2019-02-17 15:41] googollee commented on #220
The queue or cache of a socket is inside OS kernel. go-socket.io/go-engine.io doesn't have that thing.

I recommend you adding a queue and wrap go-socket.io inside the queue. The queue will emit message with a fixed count, and store others in itself and do cleanup when new message coming in.

Furthermore, please consider UDP if you want to have a good experience with not-so-good network connection

[2019-02-18 06:49] Sreevani871 commented on #193
@erkie We will try to reproduce the same in the local environment and will update the code

[2019-02-18 11:33] erkie commented on #193
@Sreevani871 great thanks! Please note that a major upgrade happened during the time you wrote the issue and today. We have merged the branch major rewrite 1.4 into master, which supports a higher version of Socket.IO.

[2019-02-18 11:34] erkie commented on #219
And now that we merged the 1.4 branch into master, things might be a bit different. Can you try using the code that is currently now in master?

[2019-02-18 11:37] erkie commented on #133
This is now done if I understand correctly. :)

[2019-02-18 11:37] #133 closed

[2019-02-18 11:38] erkie commented on #113
Closing this because it was pre 1.4

[2019-02-18 11:38] #113 closed

[2019-02-18 14:07] jjhesk commented on #192
what is the status now? have you done any stress test yet?

[2019-02-19 03:05] jjhesk commented on #188
@googollee can you transfer the project to this guy  @erkie  to maintain it?

[2019-02-19 03:10] jjhesk commented on #172
@fnf521 I have also talked about that in my comments in [here](https://github.com/kataras/iris/issues/1178)

I think we have to follow their findings and make it integrated into iris-go. Check it out: https://medium.freecodecamp.org/million-websockets-and-go-cc58418460bb
https://speakerdeck.com/eranyanay/going-infinite-handling-1m-websockets-connections-in-go

from what I understand now, there are

[2019-02-19 03:13] jjhesk commented on #152
@googollee why the boardcast function is gone in 1.4 now?

[2019-02-19 03:36] jjhesk commented on #188
The problems are fixed by this guy https://github.com/pschlump/socketio

[2019-02-19 03:59] jjhesk commented on #192
@googollee @erkie some development and perf concepts you might find it helpful.. #172. I have cross reference works from another repo in [iris](https://github.com/kataras/iris/issues/1178) and also found it there we have enough supports to try solving the problems here.

[2019-02-19 04:03] jjhesk commented on #192
@erkie we need a testing plan, [example](https://github.com/pschlump/socketio) and feature plan [example](https://github.com/socketio/socket.io/issues/3250)

right. open a new package and put everything into it and test it out!
Once the coding is fixed done and the next step we will QA it and make sure all the codes are running solid.

The coverage testing setup should be something like this...

1

[2019-02-19 10:48] Romakita commented on #194
Hello guys,
Same problem for me. I use Gorilla mux with Socket.io and since the recent update I have this error
`http: multiple response.WriteHeader calls`.

Here my code:
[code]
I don't know how I can fix that ?
Thanks in advance,
Romain

[2019-02-19 11:42] erkie commented on #194
@Romakita cut you perhaps put together a git repo with minimal code for the server and minimal client code that reproduces this?

[2019-02-19 12:46] Romakita commented on #194
@erkie here the minimal code:

[code]

[2019-02-19 12:54] erkie commented on #194
@Romakita thanks! And the client code too please.

[2019-02-19 13:15] Romakita commented on #194
I use the given example in your repository.
[code]

And the backend log `http: multiple response.WriteHeader calls`.  I used also https://electronjs.org/apps/socket-io-tester to call the socket.io service and it's the same problem on the backend side.

Thanks @erkie for your time :)

[2019-02-19 14:12] erkie commented on #194
@Romakita thanks, and can you link the version of `/socket.io.js` you used.

[2019-02-19 14:55] Romakita commented on #194
I use the v2.2.0.

[2019-02-19 14:58] erkie commented on #194
OK, that is the problem. Right we only support 1.4 of Socket.IO client library. Please follow this issue for updates if/when it gets implemented: https://github.com/googollee/go-socket.io/issues/188

In the meantime you should simply just use the 1.4 socket.io client library.

[2019-02-19 15:00] #152 closed

[2019-02-19 15:00] erkie commented on #152
Closed because of old version of go-socket.io

[2019-02-19 15:04] Romakita commented on #194
No the problem doesn't come from this client version. As I explained the socket server respond WriteHeader more than once and the response isn't correct.

The 2.2 version works fine before the merge 1.4 on the master (2 days ago).

[2019-02-19 15:10] Romakita commented on #194
I don't understand why 2 days ago your server works with the 2.2.0 socket.io client and now this lib support only 1.4.0. I'll try to downgrade my socket-io client version and test again :(

[2019-02-19 15:14] erkie commented on #194
@Romakita we have never officially supported anything over 1.4. I guess it was a happy mistake, but it was never tested so it could have nasty bugs that break other features. Please try again with 1.4 and let me know

[2019-02-19 15:18] Romakita commented on #194
@erkie As I expected the problem isn't the socket.io client version. Now I use the v1.4 and it doesn't works. I have the same problem from the server:

[2019-02-19 15:21] erkie commented on #194
@Romakita OK. Sorry to be a bother but can you put everything in a git repo and publish to your github account? It's so I can quickly clone it and try it for myself.

[2019-02-19 15:42] Romakita commented on #194
I'll try to give you a repo example ASAP ;)

[2019-02-19 20:54] Romakita commented on #194
I found the problem. In 1.4, the server check the Origin headers. Know for me it works but BroadcastTo method hasn't equivalent in 1.4 or I missed something.
Thanks for your answers ;)

[2019-02-20 03:49] Sreevani871 commented on #193
@erkie Thanks for the update.
Can you please help me to migrate our code to lastest master?

Existing Code:

    sserver, err := sio.NewServer(nil)

	sserver.SetMaxConnection(50000)                           // Set Max socket connections to handle
	sserver.SetPingInterval(time.Duration(30) * time.Second) // 30 seconds
	sserver.SetPingTimeout(time.Duration(45) * time.Second)   // 45 seconds

    ss

[2019-02-20 09:15] erkie commented on #194
@Romakita I'm sorry I'm not really following, where you able to fix the problem with `http: multiple response.WriteHeader calls`? What was the solution?

[2019-02-20 09:37] Romakita commented on #194
The problem come from the client. I use Vue-cli with proxy configuration, and the host set in `Origin` header isn't the same as the WebSocket server host. So when you check the origin header "CheckSameOrigin" the server send headers and a 403 response.

The problem come from Vue-cli not from your library. I have another issues with the 1.4 about performance and stability when I try to emit/broadca

[2019-02-21 04:31] LouAdrien commented on #219
Hello, I just tried the latest code with its example, still not working, I created a pull request to reproduce the issue, hope this will help you solve it : https://github.com/googollee/go-socket.io/pull/221

[2019-02-21 20:34] SinaZK commented on #220
First of all thanks for your response. I'm going to use this queue thing around library that always send the last snapshot to client and client send what is the last snapshot received to server. This means if the client don't send last received message the server don't send another snapshots so there should be no queue overflowing and bad experience for another players.
Another question is for exa

[2019-02-22 02:37] jianglijie opened #222 "Support Rooms"
I cant find somecode like “joinroom”， “leaveroom”， “emit(msg, room)”  etc.
in example code it only show the broadcast and namespace
so it support room now?

[2019-02-24 10:55] farzadi opened #224 "server.On undefined [BUG]"
after updating to the new version I get this error :
[code]

[2019-02-25 06:16] ChinmayNaphade commented on #224
That method is called differently in the new version.

	server.OnEvent("/", "notice", func(s socketio.Conn, msg string) {
		fmt.Println("notice:", msg)
		s.Emit("reply", "have "+msg)
	})

[2019-02-25 06:18] #224 closed

[2019-02-26 08:15] farzadi opened #225 "runtime error: invalid memory address"
I'm having this problem .why this happen?

[code]

[2019-02-26 15:36] 254408599 opened #226 "Help！Socket single push"
**Describe the bug**
This is the English description from Google Translate.

I want to use a map to save the client's socket link, so that I can use the form map[socketId].Emit() to push the message to the client. Now I have problems waiting for a long time when I call it. Then the socket will report an error: meet error: websocket: write closed. Although the message can eventually be successfully

[2019-03-02 09:52] erkie commented on #225
Please provide a github repo with all code required to reproducd this error so the community can take a look.

[2019-03-04 19:37] redbulled commented on #225
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x130dc70]

goroutine 24 [running]:
github.com/googollee/go-socket%2eio.(*conn).serveError(0xc000080120)
	/Users/admin/code/go/src/github.com/googollee/go-socket.io/conn.go:150 +0x180
created by github.com/googollee/go-socket%2eio.newConn
	/Users/admin/code/go/src/gi

[2019-03-04 19:47] redbulled commented on #225
https://github.com/redbulled/go-socket.io-unexpected-panic

and everything is from "expamples"

[2019-03-05 19:27] farzadi commented on #225
My server is located in my office and its internet is providing with my office's internet which is via wireless (Microwave). I guess Go-socket-io crashing is because of my server's internet instability.
Do you think so?

[2019-03-05 21:29] erkie commented on #225
Until my PR https://github.com/googollee/go-socket.io/pull/227 has been merged you should be able to avoid this by just adding an `OnError` handler (as defined in the README).

[2019-03-05 21:29] erkie commented on #222
Isn't a namespace a room?

[2019-03-05 21:34] erkie commented on #222
Aha, sorry, I see the distinction now. Seems like a feature request. Help would be greatly appreciated :)

[2019-03-06 09:17] erkie commented on #225
#227 merged so this is fixed now. Create a new issue if not

[2019-03-06 09:17] #225 closed

[2019-03-07 17:04] randiaz95 commented on #224
Wow appreciate the help but.... do we even have documentation on this method?

That answer seems a little cryptic.

[2019-03-09 03:11] AndrusGerman opened #229 "error when connecting from another port or server"
**Describe the bug**
A clear and concise description of what the bug is.
Error conection sockect server in external conection. unsuccessful connection attempt multiples

**To Reproduce**
Brief code to reproduce the behavior.
Open index in other server

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**

[2019-03-09 03:27] AndrusGerman commented on #229
https://github.com/AndrusGerman/ErrorSocketIO

[2019-03-09 03:28] AndrusGerman commented on #229
https://github.com/AndrusGerman/ErrorSocketIO

[2019-03-11 05:13] korpmaks opened #230 "where is server.Broadcast"
Can't find server.Broadcast at the latest edition

[2019-03-11 19:31] BarretoDiego commented on #230
Same thing here!!

[2019-03-17 09:47] googollee commented on #230
No broadcast feature in the latest version. PR is welcome.

[2019-03-19 12:21] Mountains-and-rivers commented on #97
how reconnect should i do when disconnected

[2019-03-19 12:22] Mountains-and-rivers commented on #97
how to  reconnect   when disconnected ？

[2019-03-19 22:06] korpmaks commented on #230
What do you mean "PR is welcome"

[2019-03-21 03:23] webern commented on #230
Problems here, too. I had a different version. Seems the interface/design has changed a lot, hope I can figure out the commit sha that I had.

[2019-03-21 03:39] webern commented on #230
Don't know if this helps anyone else but I found the sha commits that compile with my existing code.  For me socketio.Server returned *socketio.Server, err and the broadcast function was named BroadcastTo

The shas needed are these:

go-socket.io `0ad7206c347a1c531174c35fb3b68be22360a80c`
which is [here](https://github.com/googollee/go-socket.io/commit/0ad7206c347a1c531174c35fb3b68be22360a80c)

an

[2019-03-24 13:21] chuan9 commented on #230
@googollee hi, also need this feature, do you any plans to support Broadcast function? or have any other replacements? If I want to implement a room, how to broadcast to any other clients in v1.4? thanks
I can use broadcast in v1.0, but it has hijected issue.

[2019-03-25 11:44] enify opened #231 "How to bind events for sio.Conn in v1.4 ?"
In old version of go-socket.io, I use this code to auth my clients:
[code]
But in new version of go-socket.io, it seems I can only bind events in global use method `server.OnEvent(...)`. How could I bind events for single Connection in new version 1.4?

[2019-03-26 06:29] Mountains-and-rivers opened #232 "i want to use golang socket.io-client in a device"
socket.io and socket.io-client are great in nodejs !

but now i want to use golang socket.io-client as it in nodejs ,wo should i do ? can you help me?

[2019-03-27 20:23] xgene commented on #194
我看你是中国人，我英文不好，就用中文说一下，我想你一定是跨域调用胡时候遇到这个问题的，我就是这么遇到的。例子中的socketio.NewServer(nil)的参数为nil，它是*engineio.Options , 它里面有个字段叫Transports，当它为nil或空数组时会返回一个默认数组，请看其getTransport()方法，其元素websocket.Default 是这个Transport默认值没有指定CheckOrigin函数，这个函数返回true表示域验证通过，你需要实现并指定它

[2019-03-28 03:34] huiruo commented on #232
I have same problem

[2019-03-28 06:15] Mountains-and-rivers commented on #232
https://github.com/Ali-IoT-Lab/socketio-client-go

[2019-04-03 00:53] huiruo commented on #232
thanks,i will try

[2019-04-03 00:53] huiruo commented on #232
thanks,i will try

[2019-04-05 22:05] derektolliver opened #233 "README is outdated"
In the master branch of the README it mentions the use of functions like `BroadcastTo`. I have seen in other issues that this function no longer exists. Would it be possible to get updated examples that don't refer to functions we can no longer utilize?

[2019-04-09 12:42] mattrout92 commented on #194
FYI The work around I came up with for this was:

[code]

[2019-04-09 15:59] btouchard commented on #195
broken for 1.4 version

[2019-04-09 19:41] erkie commented on #195
@btouchard what broken

[2019-04-09 19:53] btouchard commented on #195
go get gopkg.in/googollee/go-socket.io.v1.4 return an error, can't use master version.

[2019-04-09 19:54] erkie commented on #195
@btouchard please post full output

[2019-04-09 19:58] btouchard commented on #195
Yes tomorrow 😋

Le mar. 9 avr. 2019 à 21:54, Erik Rothoff Andersson <
notifications@github.com> a écrit :

[2019-04-10 09:03] mstapfner commented on #194
@mattrout92 thanks for your Workaround, that also worked for my setup (Gorilla Mux as Router)

[2019-04-11 08:36] btouchard commented on #195
@erkie with command:
[code]
result is
[code]

[2019-04-12 02:27] Mountains-and-rivers commented on #232
i just find ```github.com/graarh/golang-socketio``` support socket.io 1.7.4 well

[2019-04-12 21:02] redbulled opened #234 "compared to NodeJS"
why is it so much slower than nodeJS socket.io? When I'am emitting an event and wait for a cb, I get the response from server same fast as nodeJS does. But when I'm listening for the event on the client side omg its so slow compared to Node. I was waiting like 5 sec or maybe even more. it takes too much time. Is it suppose to be like that? because I thought golang would be faster but turns out it'

[2019-04-13 09:36] BelkevichAndry commented on #234
Have the same problem, any ideas?

[2019-04-19 04:03] Azure1029 opened #235 "How can I get conn on Error event? I need timeout event when pingtimout occur...."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Brief code to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment (please complete the following information):**
 - Go version: [e.g. v1.11]
 - Server version [e.g. go-socket.io v1.4]
 - Client version [e.g. socket.io v1.4]

**Addition

[2019-04-22 02:13] huiruo commented on #232
well,It's very coincidental that I used this library in my project！

[2019-04-23 13:42] ardingchen opened #383 "[BUG]Why client need to wait a pingInterval time for server replies?"
My client is web page using socketio.js, and the IO server is created by
socket = io({
   transports: ['websocket']
 });

When the websoket is created, server send a message by Emit(...) after OnConnect callback, but in actually the message is sent for a pingInterval ms delay at server side. The message flow is bellow:
![websocket_server_reply_delay](https://user-images.githubusercontent.com/20982

[2019-04-26 12:07] harisgen79 opened #236 "Runtime error: invalid memory address or nil pointer dereference."
When I try
pi@raspberrypi:~/Downloads/New/go-socket.io-master/example $ go run main.go
I get :

2019/04/26 13:31:31 Serving at localhost:5000...
2019/04/26 13:31:34 http: panic serving [::1]:52606: runtime error: invalid memory address or nil pointer dereference
goroutine 6 [running]:
net/http.(*conn).serve.func1(0x1488720)
	/usr/local/go/src/net/http/server.go:1769 +0xf0
panic(0x34c5b8, 0x65c1b0)

[2019-05-06 11:47] ardingchen commented on #235
I meet the same problem. I registe the error handler like this:

[code]

When error event is triggered, I can get the call stack, but I don't known which Conn this error beyond to.

[ERRO] [2019/05/06 19:29:00.894] [controller.go:490 DealError] DealError, err: websocket: close 1006 (abnormal closure): unexpected EOF
DealError
main.(*WGController).DealError
	../controller.go:490
main.setupSocketIOS

[2019-05-10 02:41] yanqingliu commented on #233
Have the some problem, who can modify the example？

[2019-05-10 04:28] yanqingliu commented on #222
hi,@erkie, can you support an example to use “joinroom”， “leaveroom”，etc. In this project, i can't find how to use them. thankyou

[2019-05-16 18:36] peiying16 commented on #222
Room is a great feature on socket.io. We should support it soon.
https://socket.io/docs/rooms-and-namespaces/#Rooms

[2019-05-16 20:59] erkie commented on #222
@peiying16 absolutely! Unfortunately I don't have much time to put in here. If you can make a PR for this feature I'd be more than happy to review it :)

[2019-05-23 03:00] vagase opened #238 "[BUG] Response and ack from server are slow"
While running example chat program, the client receives acks from server for command "/chat msg" seconds delay after client sending the payload.

![Screen_Shot_2019-05-23_at_10_39_19](https://user-images.githubusercontent.com/807706/58222335-4594ae80-7d48-11e9-9fa6-85cc1dd2f970.png)

You can refer records with red underlines, # 42 packet sent at 10:38:52.788, but the ack # 43 packet was received a

[2019-05-26 21:47] elbashery commented on #238
yes it is very slow also on fedora 30

[2019-05-26 23:22] elbashery commented on #232
I think the protocol mqtt is better in Iot projects
like mats or nsq or anything similar

[2019-05-27 08:34] kunaldawn commented on #188
Guys, any one working on it. We are using this library at prod, and getting many issues. Any plans to update or mark the project as archived and show link to actively maintained fork. Seriously dude. This is the only stable socket.io lib available and its broken AF..

[2019-05-27 08:35] kunaldawn commented on #188
@googollee can you share implementation details or any architecture diagram of this project?

[2019-05-27 19:37] erkie commented on #188
This project needs help and we mention it in every issue. Please support it by making PR’s fixing issues. Assume no help from maintainers but feel free to ask targeted questions. If you benefit from the project: we need your help. Dont just complain. We’ll help you merge fixes ASAP.

[2019-05-27 19:38] erkie commented on #188
@kunaldawn ☝️

[2019-05-28 09:35] kunaldawn commented on #230
@chuan9 found any way?

[2019-05-28 09:52] kunaldawn commented on #188
@erkie I understand that, the problem is there is no documentation why there is v1.0 v1.4 and v1.4.1 and what are the purpose. which API is going to be supported? Latest master API is not compatible with v1.4.1. Can you get some light on it.

[2019-05-28 10:00] kunaldawn commented on #188
Why people are not directly contributing to this project, for example https://github.com/pschlump/socketio seems to fix some issues.

[2019-05-28 10:04] erkie commented on #188
@kunaldawn as per the README, the master branch aims to be compatible with version 1.4 of Socket.io. With that in mind, can we count on your passion to help this project? :) Like I've mentioned, I'd be more than happy to assist getting PR's merged. Looking forward to seeing you in the PR section soon!

[2019-05-28 10:18] chuan9 commented on #230
@kunaldawn No, used node.js as a replacement.

[2019-05-28 15:29] kunaldawn commented on #188
@erkie let me understand the code base first, we are still using v1.0 and sometimes OnClose panics. It seems v1.4.1 has the fix (using sync.Once) but missing Broadcast feature. Let me fix my production server first, crash is causing our stateful service to fail and make us panic :P, will surely contribute if I am able to understand this big project.

[2019-05-28 19:45] kunaldawn commented on #230
@chuan #239 might help?

[2019-05-29 04:50] ibuler opened #240 "[BUG] On event handler has go routine, connection connection will close"
**Describe the bug**
In the chat example,  I rewrite the OnEvent notice handler using go routine, then connection will be disconnect, and client will be reconnect

[code]

See log:
meet error: websocket: write closed
meet error: websocket: write closed
meet error: websocket: write closed

**Expected behavior**
I want when emit notice event, then send msg to client per second,

**Environment (pleas

[2019-05-29 09:15] ibuler commented on #238
The bug is here https://github.com/googollee/go-engine.io/blob/master/util.go#L33

Get the lock write slow, shared upgrade lock and writer lock

If we change the new write func:

[code]

solve it

[2019-05-29 12:23] kunaldawn commented on #188
hi @erkie, as per my analysis v1.0 and v1.4 has some broken api changes. Our server code architecture is written in such a way its dependent on the following apis:
- Broadcast feature form server instance #230
- Adding On handlers to connection itself #231

For the broadcast API #230, I have raised a PR https://github.com/googollee/go-socket.io/pull/239

Now I am working on providing On api #231 i

[2019-05-30 07:22] #226 closed

[2019-05-30 13:50] chuan9 commented on #230
@kunaldawn You can google socketio node.js, and have many tutorials.

[2019-06-10 12:35] nokkusuu commented on #234
you don't happen to be running your go code in the browser (on the front-end), do you? correct me if i'm wrong, but gopherjs probably will not work 100% of the time, and wasm support for go might need to be refined a bit before its use is practical in a production environment.

if you're using one of these methods, you may want to consider using socket.io's official js library instead. if not... w

[2019-06-10 13:00] redbulled commented on #234
Well, mate, that was a socket.io js version 1.4 (same as in docs) lib on the fronted and this lib "go-socket.io" on the backend. I didn't actually use gopherjs. lol

[2019-06-11 18:36] xfishernet opened #241 "How to find out which client has disconnected?"
How to find out which client has disconnected? in onError.

[2019-06-18 14:41] nick-bai opened #242 "solve the problem of CORS and websocket 403"
I found some problems，When I used this class library.My web page and socket service are not in the same domain,so it leads to the CORS problem.
i try to solve CORS problem,but i cant not find any documentation. then I search in issues and find some useful code.finally solved it.
To help more people solve the same problem, I'm going to share my code.

use branch 1.4  and socket-io.js  1.4
main.go
[

[2019-06-26 17:24] Fransebas commented on #242
Given that the CORS problem arises commonly when testing I found a workaround that is not perfect but it's only for testing.

What I did was I add middleware to remove any CORS problem

[code]

[2019-06-28 11:49] lemontreehuang commented on #230
@kunaldawn i find you have finished Broadcast, why does not  @googollee  combine it?

[2019-06-28 15:34] Fransebas opened #243 "Connection constantly broken"
## Setup

I'm connecting a Reactjs page with a Golang server, for the front-end, I'm using. `socket.io-client": "1.7.4"` to prevent any possible error with version 2.0. Both the page and the server are running on the same machine.

Client:
[code]

Server:

[code]

## What happens

Each time the web page try's to connect to the server, around 9 connections are created and destroyed until a connecti

[2019-06-28 15:52] Fransebas commented on #243
Sorry, I'm a clam 🤦🏼‍♂️. I need to use version 1.4
`Currently this library supports 1.4 version`

[2019-06-28 20:16] Fransebas commented on #243
I change my client version to `1.4.0` and also tried with `1.4.8` and I still have the error, can someone help me =(.

[2019-06-28 20:19] Fransebas commented on #241
In the disconnect event.

[code]

[2019-06-29 10:14] lemontreehuang commented on #240
The same error! Have you fixed it?

[2019-07-01 06:40] guimeisang commented on #243
i get too

[2019-07-16 06:29] PyreneGitHub commented on #192
hi,最近要用socket.io，您的项目有没有一些小的demo之类的，比如在go中怎么去使用，以及golang版本的客户端，这样我可以更好的进行封装压测，谢谢，期待你的回复

[2019-07-16 08:42] erkie commented on #192
@PyreneGitHub please open a separate ticket if you have a question. Thanks!

[2019-07-16 09:32] pi-pi-miao opened #244 "[BUG] The following - 下面的"
Origin: 在go-engine.io/transport/transport.go中 下面的n==name的地方，这里的order为一个slice，这里写的有点问题

Translate:
在 go-engine.io/transport/transport.go中 here's where n= = name, here's the order for a slice, a bit of a problem written here

Code:
[code]

[2019-07-16 09:34] pi-pi-miao opened #245 "[bug]下面的"
在go-engine.io/transport/transport.go中 下面的n==name的地方，这里的order为一个slice，这里写的有点。。。，把i和len(m.order)做一个校验，比较好
func (m *Manager) UpgradeFrom(name string) []string {
	for i, n := range m.order {
		if n == name {
			return m.order[i+1:]
		}
	}
	return nil
}

[2019-07-18 11:34] zannet commented on #243
i got the same problem, messages lost constantly

[2019-07-24 02:37] zhouruisong commented on #240
do you fix it?

[2019-07-26 12:29] zhouruisong opened #246 "[BUG] OnEvent error:websocket: write closed"
**Describe the bug**
server.OnEvent("signaling", "Register”, func(so socketio.Conn, msg interface{})
I use the method of OnEvent like above,.but it always happen this:
meet error:websocket: write closed

I try to add heart beat each 1 second,It doesn't work.

[2019-08-01 04:23] bennya8 opened #247 "after build, show up runtime error: invalid memory address or nil pointer dereference [BUG]"
**Describe the bug**
running the demo code binary apps on centos and osx platforms

in the browser using socket.io js make a connection, a runtime error shows up.

when using 'go run' command to execute the demo code, all the functions perfectly fine.
BUT after building the binary apps, with above two platforms both show up the same errors.

**To Reproduce**
Build with README.md demo code, and con

[2019-08-01 05:39] majimboo opened #248 "undefined socketio.Socket"
I understand that this has been updated and the API has changed but I don't want to change anything with my code so I'm looking for the right commit to go back to for my code to work.

Using modules I tried to go back to this commit `5447e71f36d394766bf855d5714a487596809f0d` but it gives a parser error. So, which commit should I use for the old API to work?

[2019-08-02 07:20] majimboo opened #249 "How to access the connection request for using session"
I used to do it like this:

	// 	var request = so.Request()
	// 	var session = sessions.GetSession(request, "sess_k", store)

But I can no longer access request with the new API.

[2019-08-07 06:18] shubham-asati opened #252 "http: panic serving [::1]:53376: runtime error: invalid memory address or nil pointer dereference"
[code]

error after running ths ->
2019/08/07 11:48:24 http: panic serving [::1]:53503: runtime error: invalid memory address or nil pointer dereference
goroutine 109 [running]:
net/http.(*conn).serve.func1(0x1492c180)
        C:/Go/go/src/net/http/server.go:1769 +0xed
panic(0x1045ba0, 0x1c8ce10)
        C:/Go/go/src/runtime/panic.go:522 +0x165
runtime/internal/atomic.Cas64(0x14a1c7bc, 0x0, 0x0, 0

[2019-08-08 01:42] tdaajames commented on #238
not yet,  concurrent write will cause crash in your case.

[2019-08-09 02:48] jrodatus commented on #238
ardingchen's change seems to fix this:
https://github.com/googollee/go-engine.io/issues/70#issuecomment-489561993

However, I don't know what `upgradeLocker` needs to protect, so I don't know if that's safe.

[2019-08-09 08:52] erkie commented on #230
Thanks to the awesome work by @kunaldawn I believe we can close this now.

[2019-08-09 08:52] #230 closed

[2019-08-09 08:52] erkie commented on #233
I'd be happy to merge a PR for this.

[2019-08-09 08:54] erkie commented on #232
Closing this because it seems that other projects might be better suited.

[2019-08-09 08:54] #232 closed

[2019-08-09 08:55] erkie commented on #222
Closed thanks to https://github.com/googollee/go-socket.io/pull/239

[2019-08-09 08:55] #222 closed

[2019-08-10 09:54] erkie commented on #238
@jrodatus I merged this PR https://github.com/googollee/go-engine.io/pull/73 does that fix it for you?

[2019-08-10 14:09] jrodatus commented on #238
@erkie Yes it does! Thanks for your work on this.

[2019-08-10 14:10] erkie commented on #238
@jrodatus @tdaajames and everyone else in this thread are the real heroes :) Glad it's working.

[2019-08-10 14:11] #238 closed

[2019-08-14 03:18] majimboo commented on #248
I figured out to use the release version `v1.0.1` for the older API to work.

You can use this on your `go.mod`:

    	github.com/googollee/go-socket.io v1.0.1

[2019-08-14 03:18] #248 closed

[2019-08-14 08:50] HelloFy opened #253 "Why use sync.RWMutex in connection handle?"
[code]

[2019-08-14 08:58] HelloFy commented on #253
I used conn.Emit("xx", "123") but this hang at the
[code]

[2019-08-20 11:18] StartAt24 opened #255 "[HELP] Broadcast [] byte instead of string."
I just want to broadcast some images (png). But i got `string` in javascript. It seems that it has been base64 encode which cost a lot.
So how can i broadcast `[] byte` instead of string.

[code]

 - Go version: 1.12
 - Server version : 1.4.2

[2019-08-24 21:04] HsuTzuJen opened #256 "[QUESTION] How to use SetSessionManager() in v1.0?"
It says that default session is a single process manager.
Then how can I set it to a load balancer? Any idea?

[2019-09-01 10:07] insta-code1 commented on #242
Here is another example:
`
func corsMiddleware(next http.Handler) http.Handler {
	return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		allowHeaders := "Accept, Content-Type, Content-Length, Accept-Encoding, X-CSRF-Token, Authorization"

		w.Header().Set("Content-Type", "application/json")
		w.Header().Set("Access-Control-Allow-Origin", "http://localhost:8100")
		w.Header().Set(

[2019-09-02 11:50] AkashiSN opened #257 "git.apache.org/thrift.git is no longer available"
**Summary**
Thrift is no longer available at the location in `go.sum`. It's now distributed on Github at `github.com/apache/thrift`. The official documentation has also [been updated](https://thrift.apache.org/lib/go).

**Steps to reproduce the behavior**
[code]

[2019-09-02 12:05] AkashiSN commented on #257
I'd like to propose the code as following.

[code]

[2019-09-04 20:36] ankushchadha commented on #257
To make builds more deterministic, you can set GOPROXY to https://gocenter.io

GoCenter has both the old module and new module versions, example https://search.gocenter.io/github.com~2Fapache~2Fthrift/info and https://search.gocenter.io/git.apache.org~2Fthrift.git/info though would encourage to use the new module name.

[2019-09-17 13:07] pandrej commented on #252
@shub-asa1 have you find any solution/work-around for this issue
I am seeing exactly the same behaviour. The strange thing is that I observe it only on binary cross-compiled for raspberry pi. Build for linux desktop works as expected

[2019-09-18 05:36] shub-asa1 commented on #252
@pandrej Nope, I couldn't find any solution , I set this up on windows machine and it was not working .

[2019-09-20 09:11] wangtuanjie commented on #182
https://github.com/googollee/go-engine.io/pull/77

[2019-09-20 18:38] pandrej commented on #252
@shub-asa1 I have found a work-around that suits my needs. When I disable `polling` transport and use only `websocket` everything works fine. This requires adequate changes on the `client` side but fortunately in my situation I am in control of the client also.

[2019-09-25 03:07] StartAt24 opened #260 "[QUESTION] Time-consuming task in `OnEvent` will panic `concurrent write to websocket connection`"
When i do something which takes a long time in. `OnEvent`.
It will case a `panic: concurrent write to websocket connection`

Here is my server code:
[code]
If not `return anything`. It's fine.

Here is my client code:
[code]
Here is the error:
[code]

It seems that it takes too long, so the client has disconnected. I have tried to set `timeout:50000` in client, but it doesn't work.
Is there any se

[2019-09-25 03:52] StartAt24 commented on #260
I have find this setting, and it seems solved my problem.
Here is my code:
[code]
It wonn't case `panic`. But still got `socketio closed`.
I donn't know if it is the right way to do it.

[2019-09-25 04:21] camstuart commented on #260
Interesting problem.

Generally, inside these types of handlers, I place any implementation code into a goroutine.
The main reason is that you don't want the handler to block. Otherwise, other events may not get handled, especially if you expect the workload for receiving a message to take some time, so something like this:

[code]

[2019-09-26 11:35] BuiChiBach opened #261 "Gin-gonic and go-socket.io"
Hello every one, currently , i want to build a server use go-socket.io and gin-gonic, i have researched but i can't find anything, so  does anyone  have any an specific example ?

Thanks !

[2019-09-30 02:19] Lil-M0use commented on #261
You can added the handler though this just past in server you can see example
https://github.com/googollee/go-socket.io/blob/master/example/main.go

`router.GET("/socket.io/", gin.WrapH(server)
router.POST("/socket.io/", gin.WrapH(server))`

[2019-09-30 13:22] mrfoe7 commented on #261
@BuiChiBach Hi

It is simple example by gin-gonic and go-socket.io

[code]

[2019-09-30 13:34] BuiChiBach commented on #261
That's was what i need ! thank you so much <3

[2019-09-30 13:36] BuiChiBach commented on #261
That's was what i need ! thank you so much <3

[2019-09-30 13:48] mrfoe7 commented on #261
@erkie Plz, close this issue

[2019-09-30 13:49] #261 closed

[2019-09-30 13:50] erkie commented on #261
@mrfoe7 thanks for helping out 💥🥳🚀

[2019-10-01 13:54] Karafs opened #263 "Performance"
Hi. I'm a beginner in Golang and wrote a server application with this library.
My problem is that when just one user connects to the server with socket, the CPU performance of the server is going upper than 100%. Do you have any idea?
I registered about 35 events on the server socket.
Also when I send an event from the client to the server, It’s taking a too long time to call event on the server.

[2019-10-02 09:54] mrfoe7 commented on #263
@Karafs Hi!
Tell about you os and hardware parameters. We need more informations

[2019-10-02 10:02] mrfoe7 commented on #246
@zhouruisong Hi
It is difficult understand your issue.
Please share some example code about your problem.

[2019-10-02 11:49] Karafs commented on #263
I'm in the test and debug state. So I set up a simple and minimum server with 2 Gig ram and 2 core at CPU and 25 Gig hardDrive and my os is ubuntu 18.04.
I know my hardware is low, but my problem is with one socket pet time, not oo much socket and process.

[2019-10-02 13:21] Karafs commented on #263
![image](https://user-images.githubusercontent.com/19264836/66047565-d5d3d300-e534-11e9-9e8c-593ce6778608.png)

[2019-10-02 13:54] Karafs commented on #263
My mongodb version is 4.2 and I'm using globalsign library. I think the problem is the mongo library that I use.

[2019-10-04 07:55] mrfoe7 commented on #263
@Karafs if your graph is true. bottlenecks is mongodb library.
Notice: you will wanna approve performance, you should rewrite [broadcast.go](https://github.com/googollee/go-socket.io/blob/master/broadcast.go).
Because "Deffer" construction is overhead on 10-20 ns.
But if you use sync.Mutex have problem you can face the problem about - "Cache contention problem". It is problem resolved on Golang 1.

[2019-10-04 08:24] mrfoe7 opened #265 "[BUG] Shutdown server after reload html page"
**Describe the bug**
When i open chat page and try to reload page, server was shutdown and don't recovery.
I run basic socket.io server by example.

**To Reproduce**
Open chat page by simple example and reload page.

**Expected behavior**
Server don't shutdown.

**Environment (please complete the following information):**
 - Go version: [e.g. v1.11]
 - Server version [e.g. go-socket.io v1.4]
 - Cl

[2019-10-04 11:42] mrfoe7 commented on #253
@HelloFy Hi
Please send some more example code.
If you want change some code, send new PR

[2019-10-04 11:43] mrfoe7 commented on #245
@pi-pi-miao Hi
What is this? I don't understood issue
Please, send some more information

[2019-10-05 07:37] Karafs commented on #263
Thanks for your reply. I used a mongo package that doesn't support mongo 4.2. So I changed that library with mongo official library. But the problem is consists. I'm working on that.

[2019-10-05 08:09] Karafs commented on #263
I tested more.
I disabled any sending event to server socket. Right now I just connect to server socket and nothing more. after connect with just one user, My server ram usage is going up from 300 to 1 Gig. And when I disconnect from client before Ram reaches 1 Gig, the ram is not going up anymore. Do you have any idea? Am I wrong somewhere? Is there any configuration that I missed?
@mrfoe7

[2019-10-05 08:25] Karafs commented on #263
![image](https://user-images.githubusercontent.com/19264836/66252305-ef5c6100-e766-11e9-9cb5-629d3cf1a5fd.png)
![image](https://user-images.githubusercontent.com/19264836/66252310-fb482300-e766-11e9-8a75-565afdddcaf6.png)

[2019-10-06 09:09] #263 closed

[2019-10-06 21:25] mrfoe7 commented on #263
Not problem. It is so interesting theme.

[2019-10-06 22:55] mrfoe7 commented on #263
Thanks for you research.
I think it is same problem by go-engine but not go-socket.io. I know what go-engine need some engineers contributors! [link](https://github.com/googollee/go-socket.io/issues/192)
If you have some free time, we need you help

[2019-10-08 19:08] frkn-aydn commented on #247
My local computer working just fine (macbook pro 2015 13 inch Mac os Majave 10.14.6) but when i send the code to server same error throwing..

[2019-10-09 09:43] chenyihui555 opened #266 "[BUG] Emit问题"
在OnConnet方法中使用多次 conn.Emit("ssss"), 会导致客户端多次重连。

[2019-10-09 09:44] chenyihui555 commented on #266
@googollee

[2019-10-11 08:50] PhantomX7 commented on #242
this code save my 1 day of frustation, please put this in the documentation.

[2019-10-11 10:48] mrfoe7 commented on #192
@googollee @erkie Hi
I have free time and I can help support issues in this repository.

[2019-10-11 19:34] erkie commented on #192
@mrfoe7 lovely! I can't add collaborators, @googollee can you fix? More helpers yay! 😃

[2019-10-11 19:52] googollee commented on #192
@mrfoe7 Thanks in advance. I just send out the invitation, please check.

[2019-10-12 06:24] mrfoe7 commented on #192
@googollee Thanks for you trust.
I will try to do everything possible for project

[2019-10-12 10:55] mrfoe7 commented on #266
Using multiple conn in OnConnet method.Emit ("ssss"), causes the client to reconnect multiple times.

It is translate description by @chenyihui555

[2019-10-13 01:39] dream960727 opened #267 "[BUG]run gin example failed"
I want to run gin+go-socket, but when I go to example/gin-gonic and run `go run main.go`, it runs wrong, showing `panic: wildcard route '*filepath' conflicts with existing children in path '/* Filepath'`

[2019-10-13 01:44] dream960727 commented on #265
if i delete all code about "/chat", the bug can be fixed.but i know this is not a right way.

[2019-10-13 13:39] mrfoe7 commented on #267
Hi, @dream960727 Thank you for you attention
It is my fault. When i tested it, i don't used statics dir. I fixed it at PR  #268

[2019-10-13 13:44] mrfoe7 commented on #267
But now you need to follow the route
http://localhost:8080/public

[2019-10-13 13:44] #267 closed

[2019-10-13 14:13] mrfoe7 commented on #265
@dream960727 Hi
I think, it is not correct behavior :) Some time age i used debug mode and find what happened.

Because twice call this row https://github.com/googollee/go-socket.io/blob/master/conn.go#L91
Method called https://github.com/googollee/go-socket.io/blob/master/conn.go#L84
[code]

only 3 goroutines by _defer_ in https://github.com/googollee/go-socket.io/blob/master/conn.go#L112 https:/

[2019-10-13 14:40] mrfoe7 commented on #265
After reload web page fmt printed twice message: *Call c.closeOnce.Do function*

STDOUT:
[code]

Experimental code:
[code]
If i added after command *nh.onDisconnect(nc, "bye")* *break*. Error wasn't happened. But i am not sure what behavior is correct

[2019-10-13 14:45] mrfoe7 opened #269 "[QUESTION] Message after disconnect client"
Why after client disconnected sent to namesapceHandler "bye" message?
This code https://github.com/googollee/go-socket.io/blob/master/conn.go#L91

[2019-10-13 15:44] mrfoe7 commented on #265
@dream960727 I understood why happened this problem. By basic example, You connected double namespace and you have one onDisconnect handler on server side. When go to range of namespaces and call onDisconnect handler, but in basic example client connected to twice namespaces, but server have one handler function.

[2019-10-13 15:44] #265 closed

[2019-10-13 16:20] mrfoe7 commented on #244
@pi-pi-miao Hi
I don't understand your question. Is it actual problem?

[2019-10-13 17:22] mrfoe7 commented on #246
It is work. Interface between client and server in Go-socket.io work as origin socket.io protocol.

Correct code:

[code]

Full text code:

Client code:
[code]

Server code:
[code]

[2019-10-13 17:28] mrfoe7 commented on #245
Close because it is duplicated #244

[2019-10-13 17:28] #245 closed

[2019-10-14 06:22] dream960727 commented on #267
so, this means that I can no longer use route "/" ?

[2019-10-14 08:35] mrfoe7 commented on #267
@dream960727 Yes, If you want use one server for return static file to client and with go-socket.io server. But you want use router "/" for static file can change routers of default socket.io server on client and backend side
It is problem in regular expressions by gin router

[2019-10-14 19:26] mrfoe7 commented on #241
Resolved

[2019-10-14 19:26] #241 closed

[2019-10-14 19:38] mrfoe7 commented on #201
Resolved by #251 PR

[2019-10-14 19:38] #201 closed

[2019-10-14 20:35] mrfoe7 commented on #182
@wangtuanjie @erkie Is it problem resolved?

[2019-10-15 02:14] wangtuanjie commented on #182
sure

[2019-10-15 07:12] mrfoe7 commented on #182
Resolved

[2019-10-15 07:12] #182 closed

[2019-10-16 10:48] mrfoe7 commented on #240
@ibuler Hi.
Your code is not correctly. You don't synchronized goroutine. If i understood correctly, you wanna send message to client with 1 second delay. It is my way to resolve your problem. If you wanna send message to client every second try to use time.NewTicker

Example with Time.Sleep:
[code]

I may suggest error message - "meet error: websocket: write closed" not related with your expected

[2019-10-16 10:48] #240 closed

[2019-10-17 09:44] mrfoe7 opened #275 "Add general handlerFunc and context types"
After PR [#274](https://github.com/googollee/go-socket.io/pull/274) i propose add new wrappers types similar as gin-gonic's types. It will be more comfortable and user friendly
New types propose will named as *HandlerFunc* and *Context*

Need implement on *HandlerFunc* next function interfaces:
 - *onConnect:* `func(c Conn) error`
 - *onError:* `func(c Conn, err error)`
 - *onDisconnect:* `func(c

[2019-10-20 02:55] AngleMAXIN opened #276 "magical problem"
i use go-socket.io@1.4.2 in go module,but it not good work ,but，i change go path ,it' good work,
In short, I mean, the same library, the same code, under two different package management tools, the results are not the same.
My English is not good, please understand，

[2019-10-21 23:29] mrfoe7 commented on #183
@LFerrolho Hi
Are you tested new version v1.4 go-socket.io in your game server?

If version v1.4 Emit interface is
[code]

But if you wanna use Emit i shout use by *conn.Socket.Emit("reply", "join game")*

[2019-10-22 13:46] mrfoe7 commented on #132
@Xeoncross i implemented this method in PR #277

[2019-10-22 14:13] mrfoe7 commented on #266
@chenyihui555 Hi
Example usage:
[code]

if you wanna use conn.Emit() you should write first argument as event:
[code]
It is declaration in [line](https://github.com/googollee/go-socket.io/blob/master/parser/data.go#L10)

[2019-10-22 14:13] #266 closed

[2019-10-22 14:37] mrfoe7 commented on #203
@eyudkin Hi
Is it actually problem?

[2019-10-22 14:39] mrfoe7 commented on #229
@AndrusGerman Hi
Is it actually problem?

[2019-10-22 15:13] mrfoe7 commented on #119
@nfirvine Hi. Is it actually problem?
It is old code version.

[2019-10-22 15:20] mrfoe7 commented on #244
It does not apply to the library

[2019-10-22 15:20] #244 closed

[2019-10-22 15:21] mrfoe7 commented on #234
@redbulled Hi
Is it actually problem?

[2019-10-22 20:42] AndrusGerman commented on #229
@mrfoe7 Hello, currently in my company we use an old version of sk. Since with the new version (of the date of the issue) it did not work.

[2019-10-22 22:43] AndrusGerman commented on #229
@mrfoe7 The error continues to occur, Go1.13.1 (Module)  https://github.com/AndrusGerman/go-socket.io-issues-229

[2019-10-23 03:10] HyperClockUp commented on #242
thanks to your issue, it really helps me a lot @nick-bai

[2019-10-23 19:26] svksergey opened #279 "[BUG] Never calls event "OnDisconnect" after client loses a websocket connection"
When my js client loses a websocket connection to my socket.io server it never calls event "OnDisconnect". I think it is bug. I only get event "OnError" with the text "websocket: close 1001 (going away)".

[2019-10-24 11:03] mrfoe7 commented on #252
@shub-asa1 and @pandrej It is actual problem?

[2019-10-24 11:06] mrfoe7 commented on #236
@harisgen79 Hi! Is it actual problem?

[2019-10-24 11:09] mrfoe7 commented on #279
@svksergey Hi, Sergey.

[code]

I tested on default version in master branch.

[2019-10-24 11:35] shub-asa1 commented on #252
@mrfoe7 I will try to recreate this issue and update you on it.

[2019-10-24 18:50] mrfoe7 commented on #252
Thanks ^^

[2019-10-25 07:02] AngleMAXIN opened #280 "broadcast.lock.Lock()， sometimes can't lock in function join"
**Describe the bug**
When my two devices want to connect to the service, the join function will be stuck in the lock, the entire service is stuck there, unless I restart the service. Of course, this situation rarely occurs.

It should be that the lock is not released, deadlocked
**To Reproduce**
`

// Join joins the given connection to the broadcast room
func (broadcast *broadcast) Join(room strin

[2019-10-25 10:27] nguyenquocthao commented on #90
As I see now Socket is replaced by Conn, so there is no Request method. Is there another way?

[2019-10-26 15:37] Karafs opened #281 "[Question]How to Implement googollee for client side to connect to server side?"

[2019-10-26 16:23] #281 closed

[2019-10-27 13:52] shd101wyy commented on #279
I encountered the same issue.

[2019-10-29 06:42] hzxgo opened #282 "GET ws://ip:port/socket.io/ with 403 Forbidden"
I have a demo
main.go
[code]

test.html
[code]

but the test.html have an error in Console: "WebSocket connection to 'ws://hzx.ws.me:8300/socket.io/?EIO=3&transport=websocket&sid=1' failed: Error during WebSocket handshake: Unexpected response code: 403"
![image](https://user-images.githubusercontent.com/13249504/67743867-f0796900-fa5a-11e9-9018-b7f5de5ba9d3.png)

in the Network tab:
![image](http

[2019-10-29 13:26] hzxgo commented on #282
I have another question. the api "GET http://localhost:8200/socket.io/?EIO=3&transport=polling&t=MuNhqMj&sid=3" is pending as below, the api will cost 20s. this is a problem?

![image](https://user-images.githubusercontent.com/13249504/67770923-461d3800-fa92-11e9-8536-48bad792676c.png)

[2019-10-30 06:09] block1b commented on #282
same questions. according to issues/242 ，I solved problem of CORS like this question`s demo, but same question websocket 403 ; the brower(js client) will reconnect always;

[2019-10-31 02:37] hzxgo commented on #282
@block1b thanks a lot, according to issues/242, my two questions have been solved.

[2019-10-31 02:37] #282 closed

[2019-10-31 02:42] hzxgo commented on #279
I encountered the same issue.

[2019-10-31 17:02] linwenchao commented on #279
I encountered the same issue.

[2019-11-01 14:06] odiferousmint commented on #192
Any plans on supporting `socket.io 2.3.0`, or is there a Go library that does that?

[2019-11-01 14:07] erkie commented on #192
@DisruptiveMind would not count on it at all unless we can find some passionate people to get that project going. :)

[2019-11-01 14:15] DisruptiveMind commented on #192
Hey all, great to see this is still moving along. I'll contribute where I can but I won't be able to commit much at the moment. Count me as as lowly support :)

[2019-11-01 14:17] erkie commented on #192
@DisruptiveMind nice! :D We need all the help we can get.

[2019-11-01 18:46] odiferousmint commented on #242
Thanks, it was a good starting point.

[2019-11-01 18:50] odiferousmint commented on #192
What about `socket.io` folks? Would they be interested in helping? :D

[2019-11-05 11:09] mrfoe7 commented on #192
@odiferousmint Hi. This [issue](https://github.com/socketio/socket.io/issues/3242) showed all interest to go-socket.io implementation by nodejs socket.io community

[2019-11-06 15:23] pkierski commented on #279
On websocket disconnection https://github.com/googollee/go-socket.io/blob/master/parser/decoder.go#L58 `NextReader` returns github.com/gorilla/websocket.CloseError with code 1001 `websocket.CloseGoingAway`.

I think wrapper.NextReader() in go-engine.io/transport/websocket/wrapper.go should check if error is websocket.CloseError and return this error wrapped with another error defined in go-engine.

[2019-11-06 19:23] mrfoe7 commented on #279
Hi, @pkierski
Can you send PR by your research?

[2019-11-06 20:46] pkierski commented on #279
@mrfoe7 I haven't made MR yet. There are clues for solution only. I'll try to find some time in next week to implement such change.

I think there's one more change should be done even though it breaks backward compatibility. `OnError` handler function should have `Conn` type parameter just like others handlers.

[2019-11-06 20:57] pkierski commented on #279
Just one more question: in polling mode could we detect if Socket.IO connection is closed? I think there's no such thing, because we don't know what is going between requests from client side. From the other side: it's possible to implement some disconnection logic based on ping...
I asking because I don't know if there is similar problem with no `OnDisconnect` call in case of polling transport.

[2019-11-06 21:53] mrfoe7 commented on #279
I hope to it ^^

It is done by PR #274 by @ardingchen and PR #237
If it is what you mean and new PR is correct, i will approve PR #274

I will try generate this situation on my PC and tell more information

[2019-11-06 22:30] sshaplygin opened #283 "[QUESTION]: Not used methods signature in Conn by broadcast"
Hi, @kunaldawn!
Why are you add this methods signature in Conn interface by the [next](https://github.com/googollee/go-socket.io/blob/master/conn.go#L34) code lines?

By current master version, all broadcast's methods don't called!

[2019-11-07 02:02] pangdahua commented on #279
other way

server.OnDisconnect("", func(s socketio.Conn, msg string) {
		fmt.Printf("client id %s say goodbye", s.ID())
})

namespace = "" can catch client disconnect event

[2019-11-07 07:12] pkierski commented on #279
@pangdahua It doesn't work for me.

[2019-11-07 07:21] pkierski commented on #279
@mrfoe7 #274 looks good for me. I thought about the same improvement for `OnDisconnect`. After that every handlers will be called in with connection context.

[2019-11-07 23:51] odiferousmint commented on #192
I wish I could help but I am going to work 12 hours a day really soon so I will not have time for it. :(

[2019-11-08 20:40] mrfoe7 commented on #282
@hzxgo Please share you source code in PR by example

[2019-11-08 21:41] mrfoe7 commented on #192
@odiferousmint  No problem. It is voluntary activity

[2019-11-09 00:54] cyantarek opened #284 "I don't see some critical features (or am I missing?)"
Hi, this library is nice. But it lacks some features that javascript socketio offers.

For example:

01. How can I broadcast to all the connected socket connections without defining any room?
02. How can I emit private events targeting to a specific socket connection/id?
03. How can I send events to all the connected socket connections except me?

You can find out these implementation in official

[2019-11-09 16:00] mrfoe7 commented on #269
Not actual. Message was changed

[2019-11-09 16:00] #269 closed

[2019-11-09 16:02] mrfoe7 commented on #279
@pkierski i approved changes and merge to master

[2019-11-10 17:46] mrfoe7 commented on #284
Hi, @cyantarek

Today, it is not implemented. It is good idea

I was implemented this in dev branch, but it is experimental feature. Main algorithm:
You safe all connection on your web sever and call by *server.Emit(connectionId, message, v ...interface{})* on your some events

If i understood correct your question, you may join all new connections to one room and after that send message for all d

[2019-11-10 21:59] cyantarek commented on #284
Saving connection in memory/web server using data structure like map is not a good idea.

[2019-11-10 21:59] #284 closed

[2019-11-11 08:16] mrfoe7 commented on #284
Why it is not a good idea?

[2019-11-12 04:18] mrfoe7 opened #286 "[BUG] Crash web-server after disconnected node.js client"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Disconnect node.js client by crush client application

**Expected behavior**
Web server was not crush :)

**Environment (please complete the following information):**
 - Go version: go version go1.12.4 windows/amd64
 - Server version go-socket.io v1.4
 - Client version socket.io-client v2.3.0

**Additional c

[2019-11-13 06:41] cheaterlin opened #287 "[BUG]panic: concurrent write to websocket connection"
**Describe the bug**
as the title said, it panic usually

**To Reproduce**
I started the server as the following code. As a message pushing server, i have saved the 'socketio.Conn' after  server.OnConnect is called, and use a sync.Mutex to protect it from concurrent write. When OnDisconnect or server.OnError is called, i will lock and use a bool value named closed to protect the 'socketio.Conn' fr

[2019-11-13 07:02] cheaterlin commented on #287
@erkie @mrfoe7 need your help

[2019-11-13 13:19] mrfoe7 commented on #287
@cheaterlin Hi
Please, tell me about your client. Is it connected to target web-server?

[2019-11-13 13:31] cheaterlin commented on #287
I think it's not the problem of socket.io client v2.0.
I have simply read the go-socket.io code. It use a chan to queue the write request, concurrent write should not occurs except the following case.
The second panic info show me:
go-engine.io@v1.4.2 session.go line 69
[code]
the
[code]
may make a concurrent write as it's in the
go-socket.io@master conn.go line 114 `go c.serveRead()`.
In `go c.se

[2019-11-13 14:21] cheaterlin commented on #287
Yes, the client is a common web js client, it's connected to my server waiting me to push him message. As the client may be behind the NAT, it need to connect me and tell me who he is(by login), keeping the connection, i may push him the message any time he has a message.

[2019-11-13 14:28] cheaterlin commented on #287
I've read the go-socket.io code for several hours. I find out that, you use a chan to queue the custom write request, it's ok. And you use a 'util.go'(go-engine.io) writeCloser with lock to protect the write operation for PONG message, it seems ok, and it should been ok. The only exception is that go-engine.io@v1.4.2 conn.go line 221, 'w, err := conn.NextWriter(ft, base.PONG)', the closer is not p

[2019-11-14 10:23] cheaterlin commented on #287
engine.io@master(diff with v1.4.1) seems have solved this problem several times. Finally, it use wrapper(go-engin.io/transport/websocket/wrapper.go line 21 'func newWrapper(conn *websocket.Conn) wrapper')to solve this problem robustly. I will fork this repo to use master version of engine.io(Commits on Sep 24, 2019). Maybe it will no longer panic :)

[2019-11-15 01:13] zhongzhong0505 commented on #287
cool

[2019-11-19 06:52] hzxgo commented on #282
@mrfoe7 i am use Gin + socketio. the gin middleware like below:

[code]

[2019-11-20 09:57] mrfoe7 commented on #282
@hzxgo Hi. I will add with case to example. Thank you. Do you try use https://github.com/gin-contrib/cors?

[2019-11-20 12:38] mrfoe7 commented on #287
@cheaterlin Thanks for your work. I will happy if you suggest PR to go-egine

[2019-11-26 23:13] AhmedX6 opened #289 "BroadcastToRoom except one socket"
Hello,

Is there any possibilities to broadcast to a special room except one socket.
Before I was able to do s.BroadcastTo(room, "event", "smth...")

Thanks for help

[2019-11-26 23:17] AhmedX6 opened #290 "socket close does not work on disconnect ?"
Hello,

In example I see that s.Close() is used on "bye" event.
Is it possible to do it onDisconnect event after doing some operations?

When I do s.Close() on disconnect, I have "Did you forget to Close() the ReadCloser from NextReader?" after some time. But I closed it.

SocketIO in golang is a great work but I find it more complicated than before...

Regards

[2019-11-27 20:42] mrfoe7 commented on #290
This issue duplicates to old issue #279

[2019-11-27 20:51] sshaplygin opened #291 "Add cors docs by basic http server"
Need to add example by basic http server

[2019-11-27 20:52] sshaplygin opened #292 "Add basic example broadcast function in docs"

[2019-11-27 21:19] sshaplygin opened #293 "Remove panic from source code"

[2019-11-29 23:38] AhmedX6 commented on #290
Hello,

I'm with go v1.12.

I don't want to print anything but for example, here is my code :

[code]
It's simple. But have this message when I use s.Close() here "Did you forget to Close() the ReadCloser from NextReader?"

[2019-12-01 18:00] Karafs opened #294 "[Question] What is max Connection support go-socket.io server?"
What is the default max connection per server in this library? And how can I change it?
Sorry. I don't know how to remove bug labels!!!
This is a simple question.

[2019-12-03 18:01] bluebrown commented on #292
Hi folks, Its good to see that this library was not completely neglected as it looked for a moment. Socket.io itself is awesome. I am planning to use this library the revamp a python-socketio server. I would like to contribute along the way and could start out with adding examples like this, as I discover them. I could also help out somewhere else if my skills fit the job. Would be nice to get in

[2019-12-04 08:24] mrfoe7 commented on #292
@bluebrown i am happy welcome to you. We have public chat at the telegram - [go-socket.io](https://t.me/go_socketio) You will may join with us.

[2019-12-04 21:13] googollee opened #295 "Test against Node version socket.io."
## Background

To make sure it works well with official Node.js version socket.io, it should have integration tests against Node socket.io.

## Content

Tests should have:

- Node.js client vs Go server
- Go server vs Node.js server

Tests should be run automatically with CI.

[2019-12-04 21:15] googollee commented on #293
I don't think removing panic is reasonable. It's useful when parsing/unparsing.

[2019-12-04 21:19] googollee commented on #275
I'd like OnConnect as `func (c Conn)` with `Conn.SetError(e error)` to set an error if connection failed.

[2019-12-04 21:21] googollee commented on #286
v2.0 doesn't exist now so it should not have bug yet.

While there are bugs against Node version in the old version, #295 should capture them automatically. I will close this one and #295 will do the job.

[2019-12-04 21:21] #286 closed

[2019-12-04 21:28] googollee commented on #287
v2 doesn't exist now so it should be no bugs of v2 yet.

I think the more general issue is, how to prevent concurrent reading/writing. I try to prevent it by testing on v1, but it can't capture all cases. I also try to use locking to prevent it on v0.9, which harm the performance and also have deadlock issues.

[2019-12-04 21:33] googollee opened #296 "Remove/merge go-engine.io into go-socket.io."
## Background

I don't think anyone will use go-engine.io without go-socket.io. Separating these 2 projects will make the dependency complex and hard to do static analysis.

## Content

Drop go-engine.io. go-socket.io should contain all features of go-engine.io. We could put these features in `connection` subdirectory because go-engine.io maintains a connection. `engine` is not a good name here.

[2019-12-05 02:20] danielfbm commented on #296
Maybe keeping it as a open package inside the repo and available to be used as a library? my 2-cents

[2019-12-05 02:25] #287 closed

[2019-12-05 20:57] mrfoe7 commented on #293
I know to it. Panic use only in handler.go file. At now use `f interface{}` at parameter at `newEventFunc` and `newAckFunc` i think it is not best way. Because user caught panic at runtime  We can use new type [HandlerFunc](https://github.com/gin-gonic/gin/blob/d5f12ac6d7ba14b9bc85fa7d0ae486289d52bdf1/gin.go#L28) as gin-gonic way, because we used four signature at **OnEvent** in practice `func(s s

[2019-12-05 21:08] mrfoe7 opened #382 "[Question] May use go-engine.io instead engine.io"
Hi, everyone!
May i use go-engine.io instead engine.io?

[2019-12-05 21:19] mrfoe7 commented on #294
I don't know accurate number, but you can check it and tell for all.
I think max connection limited number of goroutines and available sockets by one machine

[2019-12-05 21:19] #294 closed

[2019-12-05 21:29] mrfoe7 commented on #296
I was have idea use go-engine.io instead engine.io in socket.io server.
But i don't how to do it :( I think it is unbelievable

[2019-12-05 21:34] mrfoe7 commented on #275
@googollee It is good idea release it based on `Conn`.

[2019-12-06 03:23] bluebrown commented on #295
I want travis CI right? I am going to implement pretty much this, node(electron) client to go server. I have to write tests along the way as it is a corporate project, I could try to adjust my tests a little so that we could reuse them here.

[2019-12-06 13:57] pupizoid opened #298 "[QUESTION] What is the correct JS client version to use with this package?"
Hi I'm facing some problems with client disconnecting eventually, especially under large event count from server. I've tried 1.4, 1.2, 2.3 clients but the problem remains...

[2019-12-07 05:27] zyctinker commented on #248
How can I downgrade version to v1.0.1 if my project is too old for go.mod? Thank you...

[2019-12-07 09:26] mrfoe7 commented on #298
Hi, @pupizoid

May you share your test case?
Do you use source code from master branch?
Thanks

[2019-12-08 02:37] SAM-M-GO commented on #224
Buenas!! Al cambiar el método seguramente cambia la manera de la que se llama desde el lado de cliente.. por ej. con el método anterior se llamaba así: const socket = io(); (desde js)
La duda es, ahora con el nuevo método como seria el método de llamada? Gracias!

[2019-12-08 10:41] mrfoe7 commented on #224
@SAM-M-GO Hola
del mismo modo

[2019-12-09 09:47] googollee commented on #295
Thanks @bluebrown. Travis CI is good here.

[2019-12-09 09:50] googollee commented on #296
@mrfoe7, IMO, you can't mix them because engine.io is a library under socket.io, both node and go version.

@danielfbm I believe you can use it as `github.com/xxx/xxx/connection`.

[2019-12-09 09:52] googollee commented on #293
That's fine. So the feature is to make a register function with a context instead of interface{}, but not remove panic.

I think to making another issue and giving some background would be better.

[2019-12-09 09:53] googollee commented on #293
Or, shall we dup this to  #275?

[2019-12-09 15:16] aidos555 opened #299 "event duplication when BroadcastToRoom"
client leaves and after some time returns to the room then he receives a duplicate message from BroadcastToRoom

[2019-12-09 18:47] mrfoe7 commented on #290
@AhmedX6
At first, Why are you call `Close` function at the socket after disconnect them.

If you want leave from all rooms use -  [LeaveAll](https://github.com/googollee/go-socket.io/blob/master/broadcast.go#L9) method.
and send for all what client disconnected from server please use [SendAll](https://github.com/googollee/go-socket.io/blob/master/broadcast.go#L12) method

[2019-12-10 07:58] pupizoid commented on #298
Hi, after upgrading to master the problem seems to gone away... Thank you!

[2019-12-10 07:58] #298 closed

[2019-12-10 09:04] mrfoe7 commented on #298
@pupizoid No problem :)

[2019-12-11 11:34] oo280635302 commented on #296
Hi!the author, why can't I connect to socketio using gorilla / websocket?

[2019-12-11 11:44] oo280635302 commented on #296
Does this package have socketio client code, and if so, can you give an example?

[2019-12-11 13:57] mrfoe7 commented on #296
@oo280635302 Please, add new issue by your task and questions

[2019-12-11 14:12] oo280635302 opened #300 "The new version does not have a client for golang, the client for V0.9 has errors"
As title，
There is no Client.go after V0.9, and the client of v0.9 is wrong。

[2019-12-12 08:37] Jarven89 commented on #300
client of v0.9 is wrong can't to use？ I can‘t find any socket.io client to use，i just have to try this client。。。

[2019-12-12 14:01] oo280635302 commented on #300
v1.4.3 cannot accept messages from the client bye,

[2019-12-12 19:23] abhiutd commented on #300
I am not able to find a "default-client" similar to "default-server".

Is there a reference to how I can make calls like `so.Emit("some:event", dataForClient, func (so socketio.Socket, data string) {
    log.Println("Client ACK with data: ", data)
})` in my code ?

I have written up a server using `example/default-server/main.go` as reference....

[2019-12-12 21:04] bluebrown opened #301 "[BUG] Panic: index out of range"
**Describe the bug**
Panic when disconnecting with node client

[code]

**To Reproduce**
Use node client to connect to master branch
Connect to server -> join new room -> disconnect

**Expected behavior**
No panic and actually it should not even enter this error handler. It should run the disconnect handler.

**Environment (please complete the following information):**

Go 1.13
Node v12.13.1

gith

[2019-12-13 02:00] oo280635302 commented on #300
I have also used the server side, but the server ca n’t immediately remind me that the client side shuts down the client, and even my client actively sends a disconnect without awakening a reminder

[2019-12-13 15:52] abhiutd commented on #300
Okay. I have a silly question - after starting the server, with appropriate `OnEvent` methods, how do I get access to the corresponding socket so that I can make `Emit` calls to the client ? I can't seem to find any struct/method which gives me that....any help would be great!

[2019-12-19 15:15] justRobsi opened #302 "[QUESTION] How to get all IDs inside a room?"
Hey
is there a way to get the IDs of all to a specific room connected clients? It is needed to iterate through it and send every client different data. BroadcastToRoom doesn't help me for this project.

[2019-12-22 15:29] sshaplygin opened #305 "Test coverage to server.go"
Travis CI test coverage:

github.com/googollee/go-socket.io/server.go:17:			NewServer		0.0%
github.com/googollee/go-socket.io/server.go:30:			Close			0.0%
github.com/googollee/go-socket.io/server.go:34:			ServeHTTP		0.0%
github.com/googollee/go-socket.io/server.go:40:			OnConnect		0.0%
github.com/googollee/go-socket.io/server.go:47:			OnDisconnect		0.0%
github.com/googollee/go-socket.io/server.go:

[2019-12-22 15:33] sshaplygin opened #306 "Test coverage to parser/decoder.go"
Travis CI test coverage:

github.com/googollee/go-socket.io/parser/decoder.go:35:		Close			50.0%
github.com/googollee/go-socket.io/parser/decoder.go:57:		DecodeHeader		81.0%
github.com/googollee/go-socket.io/parser/decoder.go:89:		DecodeArgs		90.3%
github.com/googollee/go-socket.io/parser/decoder.go:157:	readString		84.6%
github.com/googollee/go-socket.io/parser/decoder.go:178:	readHeader		83.0%
g

[2019-12-22 15:35] mrfoe7 opened #307 "Test coverage to namespace.go"
Travis CI test coverage:

github.com/googollee/go-socket.io/namespace.go:100:		newNamespaceConn	0.0%
github.com/googollee/go-socket.io/namespace.go:109:		SetContext		0.0%
github.com/googollee/go-socket.io/namespace.go:113:		Context			0.0%
github.com/googollee/go-socket.io/namespace.go:117:		Namespace		0.0%
github.com/googollee/go-socket.io/namespace.go:121:		Emit			0.0%
github.com/googollee/go-soc

[2019-12-22 15:36] mrfoe7 opened #308 "Test coverage to conn.go"
Travis CI test coverage log:

github.com/googollee/go-socket.io/conn.go:65:			newConn			0.0%
github.com/googollee/go-socket.io/conn.go:84:			Close			0.0%
github.com/googollee/go-socket.io/conn.go:100:			connect			0.0%
github.com/googollee/go-socket.io/conn.go:123:			nextID			0.0%
github.com/googollee/go-socket.io/conn.go:128:			write			0.0%
github.com/googollee/go-socket.io/conn.go:144:			onError

[2019-12-22 15:38] mrfoe7 opened #309 "Test coverage to broadcast.go"
Travis CI test coverage log:

github.com/googollee/go-socket.io/broadcast.go:24:		NewBroadcast		0.0%
github.com/googollee/go-socket.io/broadcast.go:29:		Join			0.0%
github.com/googollee/go-socket.io/broadcast.go:44:		Leave			0.0%
github.com/googollee/go-socket.io/broadcast.go:62:		LeaveAll		0.0%
github.com/googollee/go-socket.io/broadcast.go:80:		Clear			0.0%
github.com/googollee/go-socket.io/broa

[2019-12-26 10:35] criyle commented on #296
I need a socket.io client which not provided in `go-socket.io` package, so I need to use `go-engine.io` directly. It would be helpful if socket.io client is officially supported in 2.0 version.

[2020-01-02 14:35] oranze commented on #107
Also need WSS for Chrome )))

[2020-01-03 07:57] cyantarek opened #310 "What is the default room name? Is there any?"

[2020-01-03 08:27] cyantarek opened #381 "Getting Bad Request"
When emitting events from client, I got Bad Request

```POST http://localhost:8500/socket.io/?EIO=3&transport=polling&t=1578039627529-2&sid=4 400 (Bad Request)```

And on the server console, it said 'resume'

Here's my client code:

[code]

And here's my server code

[code]

It's annoying. What is causing this error?

[2020-01-03 10:58] cyantarek opened #311 "I'm getting bad request"
When emitting events from client, I got Bad Request

```POST http://localhost:8500/socket.io/?EIO=3&transport=polling&t=1578039627529-2&sid=4 400 (Bad Request)```

And on the server console, it said 'resume'

Here's my client code:

[code]

And here's my server code

[code]

It's annoying. What is causing this error?

[2020-01-04 16:55] cyantarek opened #312 "Emitted events from server reaches client after 10 to 50 seconds later"
Here's the client code

[code]

Server code

[code]

But if I create another io on server side, it works fine. Like this one

[code]

I've checked using nodeJS socket server version, and it works perfectly. Only the go socket version has this bug
[code]

You can verify this using the example given with this repo, just remove the line that creates another socket:

[code]

Just remove this line.

[2020-01-04 22:06] blackkopcap commented on #255
`import github.com/googollee/go-socket.io/parser
 var buf parser.Buffer
 buf.Data = png
 serve.BroadcastToRoom("stream", "png" , buf)`

try this

[2020-01-09 22:29] alexwilkerson commented on #310
"/"

[2020-01-10 00:14] #310 closed

[2020-01-30 09:23] #252 closed

[2020-01-30 09:24] shubham-asati commented on #252
closing this issue

[2020-01-31 09:14] mrfoe7 commented on #301
Hi, @bluebrown
Do you can shred's your client example?

[2020-02-06 11:53] julienmathevet commented on #203
I think we have same issue.  We will try to make a test to reproduce it. It seems that appears when we broadcast to many events i  short delay

[2020-02-06 14:42] adrianmxb commented on #192
Hey @googollee / @erkie / @mrfoe7,
i am using go-socket.io in our backend application and would love to help maintain/update the project.
The next few weeks will be pretty busy for me but after that I might have some time to work on the implementation of v2 (no promises though!).

Did someone already start working on that on their fork?
Would be a step in the right direction to create a dev-v2 bra

[2020-02-06 16:12] mrfoe7 commented on #192
@adrianmxb Hey. I started work on my fork.
I created dev branch in main repository.

[2020-02-06 20:59] adrianmxb commented on #296
With the PR above (#315) i merged engine.io into socket.io and even managed to preserve its history by merging the repositories togehter.

Question that came up in Telegram is, if it is a good idea to move some parts out of the project into a new repository (for shared stuff with the client)...

Personally I like the style of a monorepo for this project and merging socket&engine and then creating

[2020-02-10 22:02] gonzric1 commented on #192
I'd like to volunteer some time too. I'm pretty new to dev so I might need to be pointed to where I can help make progress. So if anyone has the time to "help me help the project", let me know.

[2020-02-11 08:25] mrfoe7 commented on #192
@gonzric1 it is good news. If you have new idea or some fix current code, please send new PR

[2020-02-11 08:28] erkie commented on #192
@gonzric1 so cool! You can also join the telegram chat: https://t.me/go_socketio

[2020-02-13 12:16] adrianmxb opened #317 "Comply with standard library"
As I've already mentioned in Telegram it is probably a good idea to address the compliance issues we have because in my opinion our goal should be that this library can be interchanged with the node library without noticing any difference. (Maybe write test cases on that later, to ensure this?)

**Telegram quote:**

I'll move them to separate issues and structure them in the coming days, don't rea

[2020-02-18 04:22] joaopedropio commented on #236
Yes... I'm having the same problem... i'm using go version go1.13.8 linux/arm

[2020-02-24 16:26] leobrines commented on #311
I have same error with gin gonic

[2020-02-24 16:31] leobrines commented on #311
Testing [server example](https://github.com/googollee/go-socket.io#example), i have bad request error: `WebSocket connection to 'ws://localhost:8000/socket.io/' failed: Error during WebSocket handshake: Unexpected response code: 400`

[2020-02-25 17:16] jbl19860422 commented on #301
i meet similar issue, but my problem is when use socket.io to send signaling message to server, the error occurs in line 100 of decoder.go:if err := json.NewDecoder(r).Decode(&values); err != nil, the err is "unexpected EOF"

[2020-02-25 23:17] adrianmxb commented on #311
I tried to reproduce it but it is working fine for me.
Can you add a breakpoint or print the error you get in [go-engine.io/server.go:180](https://github.com/googollee/go-engine.io/blob/master/server.go#L180)

Also, can you provide a http request the socket.io client sends? (chrome devtools/network)
Hope I can help you with the additional info.

In the meantime it seems to be one of those errors,

[2020-02-26 02:09] jbl19860422 commented on #301
i use wss, when connect it's ok, and also it processes one event normal, but when send another event to server, the socket disconnected because 'unexpected EOF'. I add some log to trace, and find the error is in here:":
 line 100 of decoder.go:
if err := json.NewDecoder(r).Decode(&values); err != nil {
      if err == io.EOF {
            err = nil
      }
      return nil, err
}"

[2020-02-26 08:09] jbl19860422 commented on #301
i found that when the content exceed 4096, this error will occur, and i found the bufio.Reader can only read about 4068 bytes, so it treat this as a error.

[2020-02-26 11:46] #236 closed

[2020-02-27 13:12] leobrines commented on #311
This is my request from chrome and the breakpoint. It need a transport query
![image](https://user-images.githubusercontent.com/13511768/75446116-8c51ad80-5945-11ea-8d74-b1a777148374.png)
![image](https://user-images.githubusercontent.com/13511768/75448209-86f66200-5949-11ea-9584-a24c3ac39aff.png)

[2020-02-27 13:24] leobrines commented on #311
Question. Why it does not support websocket transport? Thank you!

[2020-02-27 13:29] adrianmxb commented on #311
It does support websocket but your client seems to be misconfigured.
Can you post example code of your client that showcases how you try to connect?

[2020-02-27 13:39] leobrines commented on #311
If i use `transport=websocket` it show this error `websocket: request origin not allowed by Upgrader.CheckOrigin` but if I use `transport=polling` it return 200 without problem. This is the client
![image](https://user-images.githubusercontent.com/13511768/75450365-6f20dd00-594d-11ea-873e-0d1fc1d653df.png)

[2020-02-27 13:42] adrianmxb commented on #311
This is a https://socket.io/ library which _uses_ websocket as lower level transport, **not** a websocket library.
If you are looking for a websocket library check out https://github.com/gorilla/websocket

[2020-02-27 13:50] leobrines commented on #311
I used [websockets with nodejs](https://socket.io/docs/server-api/) for a while without problems. I used socket io and this library (go-socket.io) was the most similar at the time of issuing and obtaining events. I checked gorilla websockets but it is more complex. Do you still recommend me gorilla?

[2020-02-27 21:15] neilpa opened #321 "Detecting transport upgrades"
Is there a way to detect when a connection upgrades it's transport from long polling to a websocket? In a JS you can hook the `upgrade` event on the connnection but I haven't found the equivalent for go (I did a little source code digging but didn't see anything obvious). I'm mostly interested for the purposes of logging the connection change.

[2020-02-27 21:17] neilpa commented on #321
Didn't mean to submit this as a bug, but now I can't remove the label :/

[2020-02-27 21:50] adrianmxb commented on #321
I could be wrong but as far as I know there is currently no way to do this.
Should be pretty easy to add though.

Check out https://github.com/googollee/go-engine.io and feel free to contribute! :-)

Upgrade funcs:
https://github.com/googollee/go-engine.io/blob/master/session.go#L199
https://github.com/googollee/go-engine.io/blob/master/session.go#L213

upgrade() gets called from here: https://git

[2020-03-02 06:45] #132 closed